<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="icon" href="static/Img/Logo_VET.jpg">
    <link href="/static/css/calculator.css" rel="stylesheet">
      <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<ul>
    <li><a href="/">Home</a> </li>
</ul>

<style>
     table {
  width:100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: left;

}


td:nth-child(even){background-color: #FFFF}

td{
  background-color: #292F33 ;
  color: white;
}
a{
    color: snow;
}
</style>
<div class="container">
<table s>
    <tr>
    <td><a   href ="/Rezistor_calculator">Calculator rezistor</a> </td>
    </tr>
    <tr>
    <td><a  href="/Legea_Lui_Ohm_t">Legea Ohm</a> </td>
    </tr>
    <tr>
    <td><a   href="/Calculator_Portii">Calculator Portii logicii</a></td>
        <tr>
    <td><a   href="/Capacitor">Capacitor</a> </td>
    </tr>
    <tr>
        <td><a  href="/AC_DC_Convertor">AC to DC convertor</a></td>
    </tr>
    <tr>
        <td><a  href="/Inductor_calc">Inductor calculator</a></td>
    </tr>
    <tr>
        <td><a href="/Rezistor_calculator_color">Rezistor color calculator</a> </td>
    </tr>
</table>
</div>
</body>
</html>