<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Test teorie</title>
        <link rel="icon" href="static/Img/Logo_VET.jpg">
        <link href="/static/css/w3.css" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
         <link href="/static/css/Test_teorie.css" rel="stylesheet">
</head>


<ul>
 <li><a href="/">Home</a></li>
</ul>
<style>
   button{
       background-color: #07c5f8;
       padding: 32px 16px;
       margin-left: auto;
       margin-right: auto;
        width: 300px;
         height: 70px;

   }

   .center {
  display: flex;
  justify-content: center;
  align-items: center;


}

</style>
<br>
<script>
    function  confirmation() {
        var ask = window.confirm("Vrei sa incepi testul teoretic?");
        if (ask) {
             window.location.href = "/Test_teorie";
        }
    }
</script>

<div class="w3-container" align="center">
  <div class="w3-card-4" style="width:50%">
          <header class="w3-container w3-light-grey" >
     <h1 style="background: #07c5f8">Test teorie</h1>
            </header>
   <div class="w3-container" style="background: white ; color:black" >
      <hr>
<p style="color: black" align="left">Salut!  testul teoretic se va conține din 14 întrebări de tip grilă. Pentru a rezolva acest test se recomanda să citești partea de teorie.

    Pentru a primi nota minimă 5 este obligatoriu să răspunzi la 5 întrebări corecte. Dacă ești pregătit să completezi testul apasă pe butonul pregătit. </p>
              <!-- <button onclick="confirmation()" align="center" style="position: relative; width:250px; height: 100px; "><p  align="center" style="color: white;font-size: xx-large;"  >Pregătit</p></button>
               -->
                      <!-- Modal -->
    <div class="modal fade" id="Test_practic" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: relative;left: 140px"><span aria-hidden="true">&times;</span></button>
                    <div class="w3-center">
                    <h4 class="modal-title" id="myModalLabel" style="background: #07c5f8;color: white" >Dorești să începti testul teoretic?</h4>
                </div>
                    </div>
                <div class="modal-body">
                    Ești pregătit?
                </div>
                <div class="modal-footer">
                    <button  style="height: 9mm;width: 10mm;align-content: center;background: #07c5f8;color: white"  type="button" class="btn btn-default"   data-dismiss="modal">Nu</button>
                    <a type="button"  style="background: #07c5f8;color: white"   class="btn btn-default" href="/Test_teorie" >Da</a>
                </div>
            </div>
        </div>
    </div>
    <div class="center">
        <a data-toggle="modal" data-target="#Test_practic" href="#"> <button type="submit" class="btn btn-primary" style="background: #07c5f8;color: white">Pregătit</button> </a>
    </div>
                <br>
            </div>
          </div>
        </div>


<body>

<div class="center">



</div>


</body>
</html>