body {

	margin: 0;
	font-family: "Times New Roman", Times, serif;
	background-image: url("/static/Img/circuit_background.jpg");


	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

	p{
		color: white;
        font-size: medium;
	}

.nav {
	display: block;
	position: sticky;
	top:0;
	padding: 1rem;
	justify-content: space-between;


}

.nav ul{
	margin:0;
	list-style: none;
	display: block;
	align-items: center;
    padding: 0;
  background-color: #333;
}

.nav ul li{
  float: left;
  width: 300px;
  height: 55px;
  background-color: black;
  opacity: .8;
  line-height: 35px;
	text-aling: center;
	font-size: 20px;
	margin-right: 1px;
}
.nav ul li a {
	text-decoration: white;
	color: white;
	display: block;
	padding: 0.65rem;
	margin:  0 0.25rem;
	 z-index: 1;
}
.nav ul li a:hover{
	background-color: #07c5f8;
	display: block;

}
.nav ul li ul li{
	display: none;

}
.nav ul li:hover ul li{
	display: block;

}


.CenterDiv{
      margin-left: auto;
  margin-right: auto;
}
.imgresponsive {
		width: 50%;
		height: auto;
	}
.imgresponsive2 {
		width: 30%;
		height: auto;
	}




.tabelresposive
{
width: 50%;
height: auto;

}
@media ( max-width: 520px) {
    .nav {
        display: flex;
        position: sticky;
        top: 0;
        padding: 1rem;
        justify-content: space-between;


    }

    .nav ul {
        margin: 0;
        list-style: none;
        align-items: center;
        padding: 0;
        background-color: #333;
    }

    .nav ul li {
        float: left;
        width: 39px;
        height: 40px;
        background-color: black;
        opacity: .8;
        line-height: 15px;
        text-aling: center;
        font-size: 7px;
        margin-right: 10px;
    }

    .nav ul li a {
        text-decoration: white;
        color: white;
        padding: 0.45rem;
        margin: 0 0.25rem;
        z-index: 1;
    }

    .nav ul li a:hover {
        background-color: #07c5f8;
        display: block;

    }

    .nav ul li ul li {
        display: none;


    }

    .nav ul li:hover ul li {
        display: block;
    }
}



