<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Amplificator</title>
        <link rel="icon" href="static/Img/Logo_VET.jpg">
        <link  rel="stylesheet" href="/static/css/teoria.css" >
         <link href="/static/css/w3.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

<div class="nav">
<ul>
     <li><a >Home</a>
    <ul>
    <li><a href="..">Home</a></li>
    <li><a href="/Teoria">Home Teoria</a></li>
         </ul>
      </li>

     <li><a>Introducere</a>
	    <ul>
		    <li><a href="/Curentul electric" >Curentul electic</a></li>
		    <li><a href="/Tensiunea electrică" >Tenisunea electrică</a></li>
		    <li><a href="/Rezistența electrică" >Rezistența electrică</a></li>
            <li><a href="/Puterea electrică">Puterea electrică</a> </li>
            <li><a href=" /Legea lui Ohm">Legea lui Ohm</a> </li>
	   </ul>
    </li>
    <li><a >Componente  pasive</a>
	    <ul>
		    <li><a href="/Resistor" >Rezistor</a></li>
		    <li><a href="/Condesator" >Capacitor</a></li>
		    <li><a href="/Inductor" >Inductor</a></li>
	   </ul>
    </li>
    <li><a >Componente active</a>
        <ul>
              <li><a href="/Semiconductor">Semiconductor</a>
            <li><a href="/Joncțiune PN">Joncțiune</a> </li>
             <li><a href="/Tranzistor">Tranzistor</a></li>
            <li><a href="/Dioda">Dioda</a></li>
        </ul>
    </li>
     <li><a >Circuite integrate</a>
             <ul>
            <li><a href="/Porți logicii">Porți logicii</a> </li>
        </ul>
    </li>
    <li><a >Aplicații</a>
        <ul>
               <li><a href="/Amplificator">Amplificator</a>
        </ul>
    </li>
</ul>
   </div>

 <style>
                    ul{
                        display: inline-block;
                        padding-left: 0;
                        text-align: left;
                    }
                </style>

   <div class="w3-container" align="center">
  <div class="w3-card-4" style="width:70%">
    <header class="w3-container w3-light-grey" >
     <h3 style="background: #07c5f8">Proprietățile generale al amplificatorului</h3>
            </header>
            <div class="w3-container" style="background: white ; color:black" >
<p style="color: black" align="left">Amplificatorul sunt circuite electronice care la intrare aduc semnal și la ieșire primim semnal cu aceeași forma dar cu o valoare mai mare.
Tranzistorul se folosește de amplificatori, tranzistorul se leagă de o sursă de o energie directă și în cel mai multe cazuri se folosește pentru amplificarea semnalelor alternative.
Ce înseamnă că tranzistorul o parte de energie directă transformă în energie alternativă.</p><br>
    <img src="/static/Img/Img_Teoria/Amplificator.png" align="center" width="1110" height="500" class="imgresponsive">


<p style="color: black" align="left">1.Amplificatorul A este definit ca și raportul dintre dimensiunea de intrare și ieșire.
    <ol type="a">
    <ul>a)Amplificator pentru tensiune: Au=U2/U1 ,unde U2 este tensiunea de ieșire si U1 este tensiunea de intrare.
Amplificare tensiunii poate fi pozitivă sau negativă, dacă este pozitivă atunci tensiunea de intrare și ieșire sunt în fază. Dacă este negativă atunci tensiunea de intrare și ieșire sunt în conta fază.</ul>
    <ul style="position: relative;right: 505px">b)Amplificator pentru curent: Ai=I2/I1</ul><br>
    <ul style="position: relative;right: 430px">c)Amplificator pentru putere: Ap=P2/P1=(U2 ⋅I2)/(U1 ⋅I1)=Au ⋅Ai</ul>
                </ol>
    2.Rezistența la intrare<br>
    Rul=U1/I1
    Rul>Rg
    3)Rezistența la ieșire care este definită ca conexiuni de curent de ieșire de scurtcircuit deschise.
    </p>

    <img src="/static/Img/Img_Teoria/Amplificator2.png" align="center" width="1110" height="500" class="imgresponsive">
<p style="color:black " align="left">La amplificatorul de putere este necesar ca R ieșire să fie la fel ca și Rp pentru că atunci puterea maximă se transmite consumatorului.
    Iar la celelalte R de ieșire trebuie să fie cât mai mic, pentru că atunci consumatorul va primi tensiune mai mare.</p> </div>

 </div>
      </div>
       </div>





</body>
</html>