<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Condesator</title>
        <link rel="icon" href="static/Img/Logo_VET.jpg">
        <link  rel="stylesheet" href="/static/css/teoria.css" >
        <link href="/static/css/w3.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>



<div class="nav">
<ul>
        <li><a >Home</a>
    <ul>
    <li><a href="..">Home</a></li>
    <li><a href="/Teoria">Home Teoria</a></li>
         </ul>
      </li>
     <li><a>Introducere</a>
	    <ul>
		    <li><a href="/Curentul electric" >Curentul electic</a></li>
		    <li><a href="/Tensiunea electrică" >Tenisunea electrică</a></li>
		    <li><a href="/Rezistența electrică" >Rezistența electrică</a></li>
            <li><a href="/Puterea electrică">Puterea electrică</a> </li>
            <li><a href=" /Legea lui Ohm">Legea lui Ohm</a> </li>
	   </ul>
    </li>
    <li><a >Componente  pasive</a>
	    <ul>
		    <li><a href="/Resistor" >Rezistor</a></li>
		    <li><a href="/Condesator" >Capacitor</a></li>
		    <li><a href="/Inductor" >Inductor</a></li>
	   </ul>
    </li>
    <li><a >Componente active</a>
        <ul>
              <li><a href="/Semiconductor">Semiconductor</a>
            <li><a href="/Joncțiune PN">Joncțiune</a> </li>
             <li><a href="/Tranzistor">Tranzistor</a></li>
            <li><a href="/Dioda">Dioda</a></li>
        </ul>
    </li>
     <li><a >Circuite integrate</a>
           <ul>
            <li><a href="/Porți logicii">Porți logicii</a> </li>
        </ul>
    </li>
    <li><a >Aplicații</a>
        <ul>
               <li><a href="/Amplificator">Amplificator</a>
        </ul>
    </li>
</ul>
   </div>
<br><br><br>


<style>


    img {
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
  }



    </style>
<br><br>
<div class="w3-container" align="center">
  <div class="w3-card-4" style="width:70%">
    <header class="w3-container w3-light-grey" >
     <h3 style="background: #07c5f8">Capacitor</h3>
            </header>
            <div class="w3-container" style="background: white ; color:black" >
    <img src="/static/Img/Img_Teoria/Electrolytic_capacitors-P1090328.jpg" align="center" alt="Capacitori" height="400" width="500" class="imgresponsive" ><br>
    <p style="color: black " align="left">Un capacitor este un dispozitiv electric pasiv ce înmagazinează energie sub forma unui câmp electric între două armături încărcate cu o sarcină electrică egală, dar de semn opus. Acesta mai este cunoscut și sub denumirea de capacitor.
Mărimea fizică asociată unui capacitor este capacitatea electrică. Unitatea de măsură, în sistemul internațional, pentru capacitatea electrică este faradul (notat F).</p>
</div>
      </div>
<br>
    <div class="w3-container" align="center">
  <div class="w3-card-4" style="width:71.2%">
    <header class="w3-container w3-light-grey" >
     <h3 style="background: #07c5f8">Principiul de funcționare</h3>
            </header>
            <div class="w3-container" style="background: white ; color:black" >
         <p style="color: black" align="center">Un capacitor electric este alcătuit din două conductoare electrice separate de o zonă neconductoare.</p>
         </div>
      </div>
        </div>

<br>
        <div class="w3-container" align="center">
  <div class="w3-card-4" style="width:71.2%">
    <header class="w3-container w3-light-grey" >
     <h3 style="background: #07c5f8">Tipuri</h3>
            </header>
            <div class="w3-container" style=" background: white ; color:black" align="left">
<p style="color: black">Capacitoarele pot fi de mai multe feluri (electrolitice, cu tantal, ceramice, cu poliester etc.), ele fiind realizate atât în tehnologie SMD cat și tehnologie THD.

Capacitorul poate fi folosit in filtre trece-sus daca este plasat in serie cu circuitul de sarcina, respectiv trece-jos daca este plasat in paralel cu circuitul de sarcina.

       <img src="/static/Img/Img_Teoria/Kapacitans.svg.png" width="500" height="400" class="imgresponsive">
    <p style="color: black" align="center"> Schema capacitor</p>
</p>
       </div>
      </div>
        </div>
<br>
    <div class="w3-container" align="center">
  <div class="w3-card-4" style="width:71.2%">
    <header class="w3-container w3-light-grey" >
     <h3 style="background: #07c5f8">Parametrii tehnici al capacitorului</h3>
            </header>
            <div class="w3-container" style="background: white ; color:black" >
                <ul >
        <li style="color: #111111" align="left" >Gama temperaturilor nominale: intervalul temperaturilor ambiente în care funcționează condensatorul.</li>
       <li style="color: #111111" align="left" >Temperatura maximă: temperatura punctului celui mai cald al suprafeței exterioare a condensatorului.</li>
       <li style="color: #111111" align="left" >Temperatura minimă: temperatura punctului celui mai rece al suprafeței exterioare a condensatorului.</li>
       <li style="color: #111111" align="left" > Capacitatea nominală: valoarea capacității electrice marcată pe condensator.</li>
       <li style="color: #111111" align="left" >Toleranțe ale capacității nominale, (%): deviațiile maxime admisibile ale valorii reale a capacității de la valoarea nominală.</li>
    <li style="color: #111111" align="left" >Tensiunea nominală, U<sub>n</sub>: tensiunea continuă maximă sau tensiunea alternativă eficace ce poate fi aplicată permanent pe terminalele condensatorului (la borne).</li>
    <li style="color: #111111" align="left" >Tensiunea de categorie, U<sub>c</sub>: tensiunea ce poate fi aplicată pe un condensator care funcționează la temperatura maximă a categoriei.</li>
       <li style="color: #111111" align="left" >Tangenta unghiului de pierderi,   tg&delta; : raportul dintre puterea activă și puterea reactivă a condensatorului pentru o tensiune sinusoidală de o anumită frecvență.</li>
       <li style="color: #111111" align="left" >Rezistența de izolație,  R<sub>iz</sub>: raportul dintre tensiunea continuă aplicată la terminalele condensatorului și curentul ce-l străbate, măsurat după un timp ante stabilit, de regulă 1...5 minute.</li>
       <li style="color: #111111" align="left" >Rigiditate dielectrică: tensiunea maximă continuă pe care trebuie să o suporte condensatorul minimum 1 minut fără să apară străpungeri sau conturnări.</li>
       <li style="color: #111111" align="left" >Coeficient de temperatură: variația relativă a capacității pentru o variație de temperatură de 1 grad centigrad.</li>
    <li style="color: #111111" align="left" >Curent de fugă, I<sub>f</sub>: curentul de conducție ce trece prin condensator atunci când i se aplică o tensiune continuă pe terminale.</li>
       <li style="color: #111111" align="left" >Impedanța, &Zeta;: valoarea exprimată în &Omega;  a sumei tuturor componentelor electrice (rezistență ohmică, reactanță capacitivă și inductivă) din schema echivalentă a unui condensator real.</li>
    <li style="color: #111111" align="left" >Curent ondulatoriu ,  I/I<sub>0</sub>: valoarea eficace a curentului alternativ maxim admis la frecvența de 50...60 Hz sau 100...120 Hz la care condensatorul electrolitic poate fi supus permanent sub tensiune nominală.</li>
</ul>
            </div>
      </div>
        </div>
<br>

        <div class="w3-container" align="center">
  <div class="w3-card-4" style="width:71.2%">
    <header class="w3-container w3-light-grey" >
     <h3 style="background: #07c5f8">Capacitorul într-o relație paralelă</h3>
            </header>
            <div class="w3-container" style="background: white ; color:black" >
    <img src="/static/Img/Img_Teoria/capacitor_paralel_schema.png" width="300" height="300" class="imgresponsive2">

<p style="color: black" align="center">Capacitorul C1 și C2 sunt într-o rețea paralelă  și pentru a determina Capacitatea totală(CT)
se  va aplica următoarea formulă:<br>
          Ct=C1+C2+...+Cn


</p>
        </div>
       </div>
             </div>
<br>
     <div class="w3-container" align="center">
  <div class="w3-card-4" style="width:71.2%">
    <header class="w3-container w3-light-grey" >
     <h3 style="background: #07c5f8">Capacitorul într-o relație serială</h3>
            </header>
            <div class="w3-container" style="background: white ; color:black" >
    <img src="/static/Img/Img_Teoria/Condesator_serial.png" width="200" height="126" class="imgresponsive">
        <p style="color: black" align="center">Capacitorul C1 și C2 sunt într-o rețea serială  și pentru a determina Capacitatea totală(CT)
se  va aplica următoarea formulă:<br>
   1/Ct=1/C1+1/C2+....+1/Cn
        </p>

</div>
                </div>
      </div>
</div>


</div>
</body>
</html>