<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Curentul electric </title>
        <link rel="icon" href="static/Img/Logo_VET.jpg">
        <link  rel="stylesheet" href="/static/css/teoria.css" >
          <link href="/static/css/w3.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
<div class="nav">
<ul>
       <li><a >Home</a>
    <ul>
    <li><a href="..">Home</a></li>
    <li><a href="/Teoria">Home Teoria</a></li>
         </ul>
      </li>
     <li><a>Introducere</a>
	    <ul>
		    <li><a href="/Curentul electric" >Curentul electic</a></li>
		    <li><a href="/Tensiunea electrică" >Tenisunea electrică</a></li>
		    <li><a href="/Rezistența electrică" >Rezistența electrică</a></li>
            <li><a href="/Puterea electrică">Puterea electrică</a> </li>
            <li><a href=" /Legea lui Ohm">Legea lui Ohm</a> </li>
	   </ul>
    </li>
    <li><a >Componente  pasive</a>
	    <ul>
		    <li><a href="/Resistor" >Rezistor</a></li>
		    <li><a href="/Condesator" >Capacitor</a></li>
		    <li><a href="/Inductor" >Inductor</a></li>
	   </ul>
    </li>
    <li><a >Componente active</a>
        <ul>
              <li><a href="/Semiconductor">Semiconductor</a>
            <li><a href="/Joncțiune PN">Joncțiune</a> </li>
             <li><a href="/Tranzistor">Tranzistor</a></li>
            <li><a href="/Dioda">Dioda</a></li>
        </ul>
    </li>
     <li><a >Circuite integrate</a>
           <ul>
            <li><a href="/Porți logicii">Porți logicii</a> </li>
        </ul>
    </li>
    <li><a >Aplicații</a>
        <ul>
               <li><a href="/Amplificator">Amplificator</a>
        </ul>
    </li>
</ul>
   </div>
<br><br><br>





<div class="w3-container" align="center">
  <div class="w3-card-4" style="width:70%">
    <header class="w3-container w3-light-grey" >
       <h3 style="background: #07c5f8"> Curentul electric</h3>
            </header>
            <div class="w3-container" style="background: white ; color:black" >
      <hr>
    <p style="color: black" align="left">Curentul electric este o măsură a cantității de încărcare electrică transferată pe unitate de timp. Reprezintă fluxul de electroni printr-un material conductor, cum ar fi un fir metalic. Se măsoară în amperi. Unitatea SI a curentului electric este amperul, definit ca 1 coulomb / secundă. Curentul este o cantitate, adică este același număr indiferent de direcția fluxului, fără un număr pozitiv sau negativ. Cu toate acestea, în analiza circuitului, direcția curentului este relevantă.
        Simbolul convențional pentru curent este I, care provine din sitagma franceză intesitè de courant, adică intensitatea este adesea denumită pur și simplu curent. I simbolul a fost folosit de Andrè-Marie Ampère, după care unitatea de curent electric este numit. El a folosit simbolul I în formularea legii forței lui Ampère în 1820. Notația a călătorit din Franța în Marea Britanie, unde a devenit standard, deși cel puțin un jurnal nu s-a schimbat de la utilizarea lui C la I până în 1896.</p>
</div>
      </div>

<br>

<div class="w3-container" align="center">
  <div class="w3-card-4" style="width:71%">
    <header class="w3-container w3-light-grey" >
    <h3 style="background: #07c5f8">Curent continuu(DC)</h3>
    </header>
            <div class="w3-container" style="background: white ; color:black" >
      <hr>
        <p style="color: black" align="left">Curentul continuu (DC) este fluxul unidirecțional al sarcinii electrice.
            Sarcina electrică curge într-o direcție constantă, distingându-i se de curent alternativ(AC).
            Un recent folosit anterior pentru curent continuu a fost curentul galvanic.
            Curentul continuu este produs de surse precum baterii, termocupluri, celule solare și mașini electrice de tip comutator de timp dinam.
            Curentul continuu poate curge într-un conductor, cum ar fi un fir, dar poate circula și prin semiconductori, izolatori sau chiar printr-un vid ca în fasciculele de electroni sau ioni.</p>
     <img src="/static/Img/Img_Teoria/dc_wave.png" height="400" width="500" class="imgresponsive">
    <p style="color: black"  align="center">Graficul curentului electric continuu(DC)</p>
            </div>
          </div>


<br>

    <div class="w3-container" align="center">
  <div class="w3-card-4" style="width:72.2%">
    <header class="w3-container w3-light-grey" >
        <H3 style="background: #07c5f8">Curentul alternativ(AC)</H3>
    </header>
        <div class="w3-container" style="background: white ; color:black" >
      <hr>
        <p style="color: black " align="left" >În curent alternativ mișcarea sarcinii electrice inversează periodic direcția.
            În curent continuu, fluxul de încărcare electrică este doar într-o singură direcție.
            AC este forma de energie electrică livrată întreprinderilor și rezidențelor.
            Forma de undă obișnuită a unui circuit de alimentare de curent alternativ este o sinusoidală.
            Anumite aplicații utilizează diferite forme de undă, cum ar fi undele triunghiulare sau pătrate.
            Semnalele audio și radio transmise pe firele electrice sunt, de asemenea, exemple de curent alternativ.
            Un obiectiv important în aceste aplicații este recuperarea informaților codificate(sau modulate) pe semnalul de curent alternativ..</p>
            <img src="/static/Img/Img_Teoria/sinus_wave.gif" height="400" width="500" class="imgresponsive">
            <p style="color: black" align="center">Graficul curentului electric alternativ (AC)</p></div>
    </div>
           </div>

    <br>
     <div class="w3-container" align="center">
  <div class="w3-card-4" style="width:72.2%">
    <header class="w3-container w3-light-grey" >
        <H3 style="background: #07c5f8">Efecte</H3>
    </header>
        <div class="w3-container" style="background: white ; color:black" >
      <hr>
        <p style="color: black">Curentul electric poate produce fenomene fizice diferite:</p>
            <ul>
        <li style="color:  black"  align="left">Căldură, fenomen cunoscut sub numele de efect termic sau efect Joule:</li>
        <li style="color:  black" align="left" > Apariția unei forțe asupra conductoarelor străbătute de el aflate în câmp magnetic, cunoscute sub denumirea de forțe electromagnetice sau forțe electrodinamice:</li>
         <li style="color: black" align="left">Apariția unui câmp magnetic (rotativ) în jurul conductoarelor pe care le străbate.</li>
         <li style="color:  black" align="left">Transportul de substanțe (electroliza) atunci când purtătorii de sarcini electrice care determină curentul electric continuu sunt ionii dintr-o soluție sau topitură de electrolit.</li>
</ul>

    </div>
    </div>





</div>





</div></div>
</body>
</html>