<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Dioda </title>
        <link rel="icon" href="static/Img/Logo_VET.jpg">
        <link  rel="stylesheet" href="/static/css/teoria.css" >
        <link href="/static/css/w3.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

<div class="nav">
<ul>
       <li><a >Home</a>
    <ul>
    <li><a href="..">Home</a></li>
    <li><a href="/Teoria">Home Teoria</a></li>
         </ul>
      </li>
     <li><a>Introducere</a>
	    <ul>
		    <li><a href="/Curentul electric" >Curentul electic</a></li>
		    <li><a href="/Tensiunea electrică" >Tenisunea electrică</a></li>
		    <li><a href="/Rezistența electrică" >Rezistența electrică</a></li>
            <li><a href="/Puterea electrică">Puterea electrică</a> </li>
            <li><a href=" /Legea lui Ohm">Legea lui Ohm</a> </li>
	   </ul>
    </li>
    <li><a >Componente  pasive</a>
	    <ul>
		    <li><a href="/Resistor" >Rezistor</a></li>
		    <li><a href="/Condesator" >Capacitor</a></li>
		    <li><a href="/Inductor" >Inductor</a></li>
	   </ul>
    </li>
    <li><a >Componente active</a>
        <ul>
              <li><a href="/Semiconductor">Semiconductor</a>
            <li><a href="/Joncțiune PN">Joncțiune</a> </li>
             <li><a href="/Tranzistor">Tranzistor</a></li>
            <li><a href="/Dioda">Dioda</a></li>
        </ul>
    </li>
     <li><a >Circuite integrate</a>
          <ul>
            <li><a href="/Porți logicii">Porți logicii</a> </li>
        </ul>
    </li>
    <li><a >Aplicații</a>
        <ul>
               <li><a href="/Amplificator">Amplificator</a>
        </ul>
    </li>
</ul>
   </div>
 <style>
        ul{
            display: inline-block;
            padding-left: 0;
            text-align: left;
        }
    </style>



<br><br>
 <div class="w3-container" align="center">
  <div class="w3-card-4" style="width:70%">
    <header class="w3-container w3-light-grey" >
     <h3 style="background: #07c5f8">Dioda</h3>
            </header>
            <div class="w3-container" style="background: white ; color:black" >
    <img src="/static/Img/Img_Teoria/all_types_dioda.gif" align="center" class="imgresponsive">
        <p style="color: black" align="left">Cele mai utilizate diode sunt diodele semiconductoare.
Diodele semiconductoare sunt realizate dintr-o singură pn joncțiune.
            Joncțiunea p-n este regiunea dintre două tipuri de material semiconductor unul de tip p și altul de tip n în interiorul aceluiași cristal semiconductor.
            Cea mai utilizată funcție a diodei este de a permite trecerea unui curent electric într-o direcție (numit și curent direct al diodei), blocând totodată trecerea curentului în direcția opusă (numit și curent invers al diodei).
            Acest comportament unidirecțional este numit redresare și este utilizat la convertirea curentului alternativ în curent continuu.
        </p>
        <p style="color: black">Pentru caracteristica volt-amperică a joncţiunii semiconductoare s-a
stabilit următoarea dependență matematică:<br>
            i<sub>d</sub>=I<sub>s</sub> ( e<sup>eu<sub>d</sub>/kT</sup>-1  )<br>
            Unde:<br>
                <ul>
            <li style="color: black">e-sarcina elementară 1,6 &sdot; 10<sup>-19</sup>C</li>
            <li style="color: black">k-constanta Boltzmann 1,38 &sdot; 10<sup>-23</sup>J &sdot; k<sup>-1</sup></li><br>
                </ul>
    <p style="color:black">Raportul: KT/e
        are dimensiunile unei tensiuni care, la   temperatura
ambiantă de 20 &circ; C
        are valoarea de aproximativ 26mV. T- temperatura joncțiunii, K <br>
        Polarizare inversă: U<sub>d</sub><0 &rightarrow;eu<sub>d/KT</sub> << 1<br>
        Polarizare directă: U<sub>d</sub><0 &rightarrow;eu<sub>d/KT</sub> >> 1 <br>

        I<sub>d</sub> &cong; -I<sub>s</sub>e &sdot; eu<sub>d</sub>/KT<br>
        </p>
                <p style="color:black" align="center">   Există diferite tipuri de diode :</p>
        <ul style="color: black">
            <li >Diodă cu gaz</li>
             <li >Diodă cu vid</li>
             <li>Diode semiconductoare </li>
             <li>Diodă cu contact punctiform</li>
             <li>Diodă laser</li>
             <li>Diodă PIN</li>
             <li>Diodă Schottky</li>
             <li>Dinistor</li>
             <li>Fotodiodă</li>
             <li>LED</li>
             <li> OLED</li>
             <li>Redresor</li>

        </ul>

       <p style="color: black">Există diferite tipuri de diode  semiconductoare care sunt clasificate în următorul mod: </p>
        <ul style="color: black">
            După materialul din care se realizează:
             <ol >
                <li>Diodă cu germaniu</li>
                <li>Diodă cu siliciu</li>
             </ol>
            După caracteristicile joncțiunii:
              <ol>
                <li>diodă redresoare</li>
                <li>diodă stabilizatoare de tensiune (diodă Zener)</li>
                <li>diodă de comutație</li>
                <li>diodă cu capacitate variabilă (varactor sau varicap)</li>
                <li>diodă tunel</li>
                <li>diodă diac</li>
                <li> diodă Gunn</li>
                  </ol>
                </ul>


<br>

        <img src="/static/Img/Img_Teoria/1200px-Diode-ro.svg.png" alt="dioda_simbol" width="300" height="300"  class="imgresponsive">

    <p align="center" style="color:black"> Dioda conține două conexiuni Anod și Catod.</p>
  </div>

         </div>
      </div>

    <br>

    <br>
    <div class="w3-container" align="center">
  <div class="w3-card-4" style="width:70%">
            <div class="w3-container" style="background: white ; color:black" >
<img src="/static/Img/Img_Teoria/Dioda_polarizata_direct_schema.png" width="804" height="290" alt='polarizare_directa_dioda' class="imgresponsive">
        <p style="color: black" align="center">Schema polarizare directă </p>
        <img src="/static/Img/Img_Teoria/Schema_polarizare_inversa_dioda.png" alt='polarizare_inversa_dioda' width="804" height="290" class="imgresponsive2">
        <p style="color: black" align="center">Schema polarizare inversă </p>
</div>
  </div>
    </div>
<br>
 <div class="w3-container" align="center">
  <div class="w3-card-4" style="width:70%">
    <header class="w3-container w3-light-grey" >
     <h3 style="background: #07c5f8">Caracteristica Dioda</h3>
            </header>
            <div class="w3-container" style="background: white ; color:black" >
    <img src="/static/Img/Img_Teoria/Caracteristica_dioda.jpg"  alt="caracteristica_dioda" class="imgresponsive">
        <p style="color: black" align="center">Când dioda este polarizată direct are nevoie de 0,6V pentru a funcționa ,teoretic 0,6V iar in practica are ne voie de aproximativ 0,6V.
            Iar când este polarizata invers va funcționa când ajunge la breakdown.</p>


        <H2 style="color: black" align="center"> Dioda germanium</H2>

        <p style="color: black" align="center">Când dioda  este polarizată direct are nevoie de 0,3V pentru a funcționa ,teoretic 0,3V iar in practica are ne voie de aproximativ 0,3V.
            Iar când este polarizata invers va funcționa când ajunge la breakdown.</p>
    </div>
  </div>
       </div>


</body>
</html>