<!DOCTYPE html>
<html lang="ro" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Inductor</title>
        <link rel="icon" href="static/Img/Logo_VET.jpg">
        <link  rel="stylesheet" href="/static/css/teoria.css" >
         <link href="/static/css/w3.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

<div class="nav">
<ul>
       <li><a >Home</a>
    <ul>
    <li><a href="..">Home</a></li>
    <li><a href="/Teoria">Home Teoria</a></li>
         </ul>
      </li>
     <li><a>Introducere</a>
       <ul>
          <li><a href="/Curentul electric" >Curentul electic</a></li>
          <li><a href="/Tensiunea electrică" >Tenisunea electrică</a></li>
          <li><a href="/Rezistența electrică" >Rezistența electrică</a></li>
            <li><a href="/Puterea electrică">Puterea electrică</a> </li>
            <li><a href=" /Legea lui Ohm">Legea lui Ohm</a> </li>
      </ul>
    </li>
    <li><a >Componente  pasive</a>
       <ul>
          <li><a href="/Resistor" >Rezistor</a></li>
          <li><a href="/Condesator" >Capacitor</a></li>
          <li><a href="/Inductor" >Inductor</a></li>
      </ul>
    </li>
    <li><a >Componente active</a>
        <ul>
              <li><a href="/Semiconductor">Semiconductor</a>
            <li><a href="/Joncțiune PN">Joncțiune</a> </li>
             <li><a href="/Tranzistor">Tranzistor</a></li>
            <li><a href="/Dioda">Dioda</a></li>
        </ul>
    </li>
     <li><a >Circuite integrate</a>
         <ul>
            <li><a href="/Porți logicii">Porți logicii</a> </li>
        </ul>
    </li>
    <li><a >Aplicații</a>
        <ul>
               <li><a href="/Amplificator">Amplificator</a>
        </ul>
    </li>
</ul>
   </div>
<br><br><br>

<style>
.myDiv {
   align-content: center;
}

    img {
     display: block;
     margin-left: auto;
     margin-right: auto;
  }

    </style>
<br><br>

<div class="w3-container" align="center">
  <div class="w3-card-4" style="width:70%">
    <header class="w3-container w3-light-grey" >
     <h3 style="background: #07c5f8">Inductor</h3>
            </header>
            <div class="w3-container" style="background: white ; color:black" >
   <img src="/static/Img/Img_Teoria/Electronic_component_inductors.jpg" width="400" height="400" class="imgresponsive">
         <p style="color: black" align="left">Inductor(sau bobină inductivă, bobină, bobină sufocare) este o componentă  electronică care conține inductanța electrică, adică abilitatea pentru a stoca energia în câmpul electric. Bobinele inductive sunt înfășurări de sârmă care de multe ori folosește în circuitele cu frecvență radio cum ar fii Am receptoare și emițătoare radio. Bobinele se folosesc adesea pentru filtrație, adică eliminarea tuturor frecvențelor, cu excepția celor necesare, ca în cazul recepționării undelor radio. Se găsesc și în multe alte dispozitive electrice.
            De exemplu, în sursele de alimentare mai complexe, acestea sunt utilizate pentru a reduce „zgomotul” la 50 Hz, care apare adesea pe liniile de alimentare primite. Principala diferență între bobinele care se reflectă în materialul din care este realizat miezul. Aerul și fierul sunt cele mai frecvent utilizate.
Spre deosebire  de rezistor și condensator, bobinele sunt rareori găsite ca produse finite, deoarece proprietățile bobinei depind de aplicația specifică.</p>

    </div>
         </div>
       </div>
<br>
<div class="w3-container" align="center">
<div class="w3-card-4" style="width:70%">
    <header class="w3-container w3-light-grey" >
        <h3 style="background: #07c5f8">Producția</h3>
    </header>
    <div class="w3-container" style="background: white ; color:black" >
        <p style="color: black" align="left">O bobină constă dintr-un fir care este înfășurat simplu sau transversal în unul sau mai multe straturi. Suportul sau corpul bobinei este fabricat din hârtie impregnată, lemn, material sintetic sau similar. De obicei are forma unui cilindru gol.
            Conductorul din care este realizată bobina este cel mai adesea cupru, izolat cu lac, mai rar cu bumbac sau mătase. Sârmă sau tub de cupru placat cu argint este utilizat pentru bobine proiectate pentru frecvențe foarte mari. Numai bobinele speciale pentru undele ultra-scurte sunt fără corp. Ghidul trebuie apoi să fie suficient de rigid pentru a-și păstra forma.
            Miezul bobinei poate fii realizat din aer, fier, sau multe alte materiale( aerul și fierul sunt cele mai utilizate).</p>
    </div>
</div>
</div>
<br>
<div class="w3-container" align="center">
<div class="w3-card-4" style="width:70%">
    <header class="w3-container w3-light-grey" >
        <h3 style="background: #07c5f8">Principiul de lucru</h3>
    </header>
    <div class="w3-container" style="background: white ; color:black" >
         <p style="color: black" align="left">Inductanța este posibilitatea bobinei pentru a stoca energia în câmpul magnetic care o înconjoară, atunci când curentul electric trece prin bobină.
             Inductanța se exprimă în henry(H), numită după Joseph Henry, sau mai des în milihenry(mH, a mia parte din Henry) și microhenry(&micro;H).
             Valoarea inductivă este de fapt posibilitatea bobinei de a micșora tensiunea semnalului AC.
             În cazul bobinelor cu inducție mai mică  sunt marcate cu culori, la fel ca și la rezistori.
             Pentru bobine mai mari, valoarea inductanței este adesea tipărită direct pe componentă.</p>
     </div>
         </div>
         </div>
<br>
<div class="w3-container" align="center">
<div class="w3-card-4" style="width:70%">
    <header class="w3-container w3-light-grey" >
        <h3 style="background: #07c5f8">Tipuri</h3>
    </header>
    <div class="w3-container" style="background: white ; color:black" >

         <p style="color: black" align="left">Bobinele pot fi permanente sau variabile. În ambele tipuri, un fir subțire este înfășurat în jurul miezului izolator.
             Numărul de înfășurări ale firului, materialul din care sunt realizate miezul și diametrul firului, determină valoarea inductanței bobinei.
Bobinele constante au o inductanță constantă, în timp ce cele variabile au un buton a cărui rotație ajustează inductanța.
             Bobinele pot fi împărțite în funcție de scop în bobine pentru circuite de joasă frecvență și de înaltă frecvență și, în funcție de proiectare, acestea sunt împărțite în:
             bobine cu miez și bobine fără miez. Plăcile de transformare izolate reciproc sunt utilizate ca miezuri pentru bobine de joasă frecvență, în timp ce miezuri speciale de înaltă frecvență sunt utilizate pentru bobine de înaltă frecvență.
             Bobinele cilindrice cu un singur strat sunt cele mai des utilizate în circuitele oscilante. </p>
     </div>
     </div>

     </div>
<br><br>

</body>
</html>

