<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Joncțiune PN</title>
        <link rel="icon" href="static/Img/Logo_VET.jpg">
        <link  rel="stylesheet" href="/static/css/teoria.css" >
        <link href="/static/css/w3.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

<div class="nav">
<ul>
       <li><a >Home</a>
    <ul>
    <li><a href="..">Home</a></li>
    <li><a href="/Teoria">Home Teoria</a></li>
         </ul>
      </li>
     <li><a>Introducere</a>
       <ul>
          <li><a href="/Curentul electric" >Curentul electic</a></li>
          <li><a href="/Tensiunea electrică" >Tenisunea electrică</a></li>
          <li><a href="/Rezistența electrică" >Rezistența electrică</a></li>
            <li><a href="/Puterea electrică">Puterea electrică</a> </li>
            <li><a href=" /Legea lui Ohm">Legea lui Ohm</a> </li>
      </ul>
    </li>
    <li><a >Componente  pasive</a>
       <ul>
          <li><a href="/Resistor" >Rezistor</a></li>
          <li><a href="/Condesator" >Capacitor</a></li>
          <li><a href="/Inductor" >Inductor</a></li>
      </ul>
    </li>
    <li><a >Componente active</a>
        <ul>
              <li><a href="/Semiconductor">Semiconductor</a>
            <li><a href="/Joncțiune PN">Joncțiune</a> </li>
             <li><a href="/Tranzistor">Tranzistor</a></li>
            <li><a href="/Dioda">Dioda</a></li>
        </ul>
    </li>
     <li><a >Circuite integrate</a>
       <ul>
            <li><a href="/Porți logicii">Porți logicii</a> </li>
        </ul>
    </li>
    <li><a >Aplicații</a>
        <ul>
               <li><a href="/Amplificator">Amplificator</a>
        </ul>
    </li>
</ul>
   </div>
<br><br><br>

<style>
.myDiv {
   align-content: center;
}

    img {
     display: block;
     margin-left: auto;
     margin-right: auto;
  }


    </style>
<br><br>
<div class="w3-container" align="center">
  <div class="w3-card-4" style="width:70%">
    <header class="w3-container w3-light-grey" >
     <h3 style="background: #07c5f8">Joncțiune PN</h3>
            </header>
            <div class="w3-container" style="background: white ; color:black" >
    <img src="/static/Img/Img_Teoria/fenomenele-din-pn-dupa-fabricatie.png" width="500" height="400" class="imgresponsive">
        <p style="color: black" align="left">Joncțiune PN apare când se în placheta se siliciu pe de o parte introduce impurități din a 3 grupa a tabelului periodic iar cealaltă parte introduce impurități din a 5 grupa a tabelului periodic datorită diferenței mari de concentrație va apărea mișcarea difuzațională.
            Cavitățile trec din P în N electroni și din N în P. Atomi din P tip al cărui cavități au trecut din N devin ioni încărcați negativ.
            Atomi din N tip al cărui electroni au trecut în P devin ioni pozitiv încărcați. Ioni pozitivi și negativi împreună construiesc sarcina spațială.
            Ei construiesc câmp electric intern care este regizat din N către P.
            Câmpul electric intern se opune încărcări difuzațională cu cât mai mult trece din N în P și invers, câmpul electric devine din ce în ce mai puternic, la un moment dat câmpul va avea o valoare mare care nici sarcina electrică nu a să poată să o stăpânească și difuzia se oprește.
            Tensiunea electrică care există între ioni pozitivi și ioni negativi se numește bariera potențială(UP).</p>
    </div>
       </div>
     </div>

<br>

<div class="w3-container" align="center">
  <div class="w3-card-4" style="width:70%">
    <header class="w3-container w3-light-grey" >
     <h3 style="background: #07c5f8">Joncțiunea PN în polarizare  directă</h3>
            </header>
            <div class="w3-container" style="background: white ; color:black" >
    <img src="/static/Img/Img_Teoria/jonctiune_polarizata_direct.jpg" width="300" height="138" class="imgresponsive">
        <p style="color: black" align="left">Dacă tensiunea externă este mai mică decât tensiunea barierei potențială și câmpul electric extern este mai mic decât cel intern, atunci câmpul electric are aceeași sens ca și cel intern doar are mai mică intensitate.
            Bariera potențială sa micșorat însă Sarcina electrică încă nu poate să stăpânească.
            Nu trece curentul electric prin joncțiunea PN!
Dacă tensiunea externă este mai mare de cât tensiunea bariei potențială și câmpul electric extern este mai mare decât cel inter, atunci câmpul electric are sens la fel ca și cel extern. Acest câmp va ajuta difuzia.
            Bariera potențială a dispărut. Există mișcare dirijată a unui număr mare de sarcini și trece curentul electric prin joncțiunea PN.
            Acest curent electric provine din mișcarea transportatorilor primari a sarcini electrice și ordinea mărimi este mili amperi(mA) tensiunea barierei potențiale este aproximativ 0,6V.
</p>

    </div>
          </div>
        </div>

<br>

<div class="w3-container" align="center">
  <div class="w3-card-4" style="width:70%">
    <header class="w3-container w3-light-grey" >
     <h3 style="background: #07c5f8">Joncțiunea PN în polarizare inversă</h3>
            </header>
            <div class="w3-container" style="background: white ; color:black" >
    <img src="/static/Img/Img_Teoria/jonctiune_pn_invers.jpg" height="300" width="300" class="imgresponsive">
        <p style="color: black" align="left" >Câmpul electric are aceeași sens ca și cel intern însă are mai mare intensitate.
            Bariera potențială a crescut și transportatori primari nu pot stăpâni aceasta.
            Însă pentru transportatori secundari nu există sarcina electrică a barierei potențiale, câmpul electric transmite electroni din P în N și cavitățile din N în P această mișcare direcțională se numește curent invers ea are intensitate mică ordinea mărimi este nano amperi(nA).
        </p>
    </div>
          </div>
        </div>


<br>
 <style>
                    ul{
                        display: inline-block;
                        padding-left: 0;
                        text-align: left;
                    }
                </style>
<div class="w3-container" align="center">
  <div class="w3-card-4" style="width:70%">
    <header class="w3-container w3-light-grey" >
     <h3 style="background: #07c5f8">Defecțiunea joncțiunu pn  (breakthrough)</h3>
            </header>
            <div class="w3-container" style="background: white ; color:black" >
        <p style="color: black" align="left">
"Breakthrough" este apariția rupturii a unei legături covalente eliberând un număr mare de electroni  ajunge  la o creștere bruscă a curentului, cauzele care duc la "Breakthrough" sunt difere și de aceea  există:
            <ul></u.><ol>
        <li style="color: black"> Termic</li>
        <li style="color: black">Avalanche breakthrough</li>
        <li style="color: black">zener breakthrough</li>

    </ol>
                </ul>
         </p>
      <p style="color: black" align="center">1.Termic  </p>
              <p style="color: black" align="left">
      Apare și prin polarizarea directă și prin polarizarea inversă.
        Când curentul electric trece prin joncțiunea pn, joncțiunea pn se încălzește,
        și energia electronilor crește  și mulți electroni părăsește relația  covalentă.
        Cu cât mai mulți electroni liberi, înseamnă mai mult curent și mai multă încălzire,
        în măsura în care nu este prevăzută nicio răcire va ajunge la distrugere.
    </p>
        <p style="color: black" align="center">2.Avalanche breaktrough</p>
                <p style="color: black" align="left">
        Apare în polarizare inversă, câmpul electric accelerează electroni liberi care se ciocnesc cu atomi,
        le dau energia lor și se eliberează de noi electroni,
            numărul de electroni liberi crește brusc și curentul brusc crește și acest "breakthrough" poate ajunge la distrugere joncțiuni pn.
                </p>
                <p style="color: black" align="center">3.Zener breakthrough</p>
                  <p style="color: black" align="left">
        'Zener breakthrough' apare prin polarizarea inversă a semiconductorului cu mare  o concentrație mare
 impurități. Acești semiconductori  au o structură cristalină inegală și câmpul electric ușor scoate electroni din relația covalentă, și ajunge la creșterea bruscă a curentului electric.
        </p>
    </div>
        </div>
      </div>
<br>
      <div class="w3-container" align="center">
  <div class="w3-card-4" style="width:70%">
    <header class="w3-container w3-light-grey" >
     <h3 style="background: #07c5f8">Caracteristica joncțiuni pn</h3>
            </header>
            <div class="w3-container" style="background: white ; color:black" >
        <p style="color:black" align="left">Caracteristica curent-tensiune a joncțiuni pn arată cum  curentul electric prin joncțiunea pn depinde de  tensiunea conectată.
            Polarizarea directă se desenează in primul pătrat iar polarizarea inversă în al treilea.
        </p>
                   <img src="/static/Img/Img_Teoria/caracterstica_jonctiuni_pn.jpg " width="449" height="334" class="imgresponsive">
                  <p style="color: black" align="left">Polarizarea directă: Dacă tensiunea este mai mică de cât tensiunea barierei potențiale,  curentul nu curge. Dacă tensiunea este mai mare de cât tensiunea barierei potențiale, curentul curge. <br> Cum crește tensiunea așa crește și curentul electric.
<br>Polarizare inversă: când joncțiune pn este polarizată invers atunci curentul nu curge doar în cazul când ajunge la 'breakthrough' atunci curentul crește brusc. </p>

    </div>
          </div>
              </div>
</body>
</html>

