<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Legea lui Ohm </title>
        <link rel="icon" href="static/Img/Logo_VET.jpg">
        <link  rel="stylesheet" href="/static/css/teoria.css" >
         <link href="/static/css/w3.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
<div class="nav">
<ul>
     <li><a >Home</a>
    <ul>
    <li><a href="..">Home</a></li>
    <li><a href="/Teoria">Home Teoria</a></li>
         </ul>
      </li>
     <li><a>Introducere</a>
	    <ul>
		    <li><a href="/Curentul electric" >Curentul electic</a></li>
		    <li><a href="/Tensiunea electrică" >Tenisunea electrică</a></li>
		    <li><a href="/Rezistența electrică" >Rezistența electrică</a></li>
            <li><a href="/Puterea electrică">Puterea electrică</a> </li>
            <li><a href=" /Legea lui Ohm">Legea lui Ohm</a> </li>
	   </ul>
    </li>
    <li><a >Componente  pasive</a>
	    <ul>
		    <li><a href="/Resistor" >Rezistor</a></li>
		    <li><a href="/Condesator" >Capacitor</a></li>
		    <li><a href="/Inductor" >Inductor</a></li>
	   </ul>
    </li>
    <li><a >Componente active</a>
        <ul>
              <li><a href="/Semiconductor">Semiconductor</a>
            <li><a href="/Joncțiune PN">Joncțiune</a> </li>
             <li><a href="/Tranzistor">Tranzistor</a></li>
            <li><a href="/Dioda">Dioda</a></li>
        </ul>
    </li>
     <li><a >Circuite integrate</a>
       <ul>
            <li><a href="/Porți logicii">Porți logicii</a> </li>
        </ul>
    </li>
    <li><a >Aplicații</a>
        <ul>
               <li><a href="/Amplificator">Amplificator</a>
        </ul>
    </li>
</ul>>
   </div>
<br><br>

    <div class="w3-container" align="center">
  <div class="w3-card-4" style="width:70%">
    <header class="w3-container w3-light-grey" >
     <h3 style="background: #07c5f8">Legea lui Ohm</h3>
            </header>
            <div class="w3-container" style="background: white ; color:black" >
      <hr>
    <img src="/static/Img/Img_Teoria/OhmPieChart.png" class="imgresponsive" >
        <p style="color: black">
            Intensitatea curentului electric ce străbate o porțiune de circuit este direct proporțională cu tensiunea aplicată la capetele ei când rezistența electrică a porțiunii de circuit este constantă.
        </p>
    </div>
            </div>
         </div>
<br><br>
            <div class="w3-container" align="center">
  <div class="w3-card-4" style="width:70%">
    <header class="w3-container w3-light-grey" >
     <h4 style="background: #07c5f8">Rezistența electrică a unui conductor</h4>
            </header>
            <div class="w3-container" style="background: white ; color:black" >
    <p style="color: black" >Rezistența electrică (R) a unui conductor este mărimea fizică scalară egală cu raportul între tensiunea (U) aplicată la capetele lui și intensitatea curentului (I) ce-l străbate.</p>
</div>
      </div>
                </div>
<br>
                  <div class="w3-container" align="center">
  <div class="w3-card-4" style="width:70%">
    <header class="w3-container w3-light-grey" >
     <h4 style="background: #07c5f8">Legea lui Ohm pentru întregul circuit</h4>
            </header>
            <div class="w3-container" style="background: white ; color:black" >
    <p style="color:black"  align="center">I<sub>shortcirtcuit</sub>=E/r</p>

</div>
        <br> <br> <br>
</div>
</div>

</body>
</html>