<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Puterea electrică </title>
        <link rel="icon" href="static/Img/Logo_VET.jpg">
        <link  rel="stylesheet" href="/static/css/teoria.css" >
        <link href="/static/css/w3.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
<div class="nav">
<ul>
   <li><a >Home</a>
    <ul>
    <li><a href="..">Home</a></li>
    <li><a href="/Teoria">Home Teoria</a></li>
         </ul>
      </li>
     <li><a>Introducere</a>
	    <ul>
		    <li><a href="/Curentul electric" >Curentul electic</a></li>
		    <li><a href="/Tensiunea electrică" >Tenisunea electrică</a></li>
		    <li><a href="/Rezistența electrică" >Rezistența electrică</a></li>
            <li><a href="/Puterea electrică">Puterea electrică</a> </li>
            <li><a href=" /Legea lui Ohm">Legea lui Ohm</a> </li>
	   </ul>
    </li>
    <li><a >Componente  pasive</a>
	    <ul>
		    <li><a href="/Resistor" >Rezistor</a></li>
		    <li><a href="/Condesator" >Capacitor</a></li>
		    <li><a href="/Inductor" >Inductor</a></li>
	   </ul>
    </li>
    <li><a >Componente active</a>
        <ul>
              <li><a href="/Semiconductor">Semiconductor</a>
            <li><a href="/Joncțiune PN">Joncțiune</a> </li>
             <li><a href="/Tranzistor">Tranzistor</a></li>
            <li><a href="/Dioda">Dioda</a></li>
        </ul>
    </li>
     <li><a >Circuite integrate</a>
      <ul>
            <li><a href="/Porți logicii">Porți logicii</a> </li>
        </ul>
    </li>
    <li><a >Aplicații</a>
        <ul>
               <li><a href="/Amplificator">Amplificator</a>
        </ul>
    </li>
</ul>
   </div>
   <style>
                    ul{
                        display: inline-block;
                        padding-left: 0;
                        text-align: left;
                    }
                </style>
<br><br><br>
<br><br>

<div class="w3-container" align="center">
  <div class="w3-card-4" style="width:70%">
    <header class="w3-container w3-light-grey" >
     <h3 style="background: #07c5f8">Puterea electrică</h3>
            </header>
            <div class="w3-container" style="background: white ; color:black" >
      <hr>
        <p style="color: black" align="left">Puterea este mărimea care arată cât de rapid “curge” energia dintr-un loc în altul sau cât de rapid se transformă ea într-o altă formă de energie.
            În cazul energiei electrice, viteza cu care aceasta “curge” este proporțională atât cu tensiunea cât și cu intensitatea curentului electric care o transportă. Așadar, relația matematică a puterii electrice este:<br>
                <p align="center" style="color: #111111" > P=U &sdot; I</p><br>
            Unde:<br>
                <ul style="align-items: center">
            <li style="color: black" align="left"> P – puterea electrică. Se exprimă în W (vaţi);</li>
            <li style="color: black" align="left">U – tensiunea electrică. Se exprimă în V (volţi);</li>
            <li style="color: black" align="left">I  – intensitatea curentului electric. Se exprimă în A (amperi).</li>
                    </ul>
        </p>
    </div>
          </div>
        </div>

     <br>
<div class="w3-container" align="center">
  <div class="w3-card-4" style="width:70%">
    <header class="w3-container w3-light-grey" >
     <h3 style="background: #07c5f8">Puterea electrică activă</h3>
            </header>
            <div class="w3-container" style="background: white ; color:black" >
      <hr>
        <p style="color: black" align="left">
       Este puterea reală consumată de un circuit.
            Într-un circuit în care avem rezistențe, bobine și condensatori, puterea electrică activă este consumată doar de rezistențele electrice deoarece acestea nu pot stoca energie electrică (toată energia electrică pe care o primesc trebuie neapărat să se consume cumva, adică să se transforme în altă formă de energie – în cazul acesta în căldură).
<br>
<p style="color: black">Formula de calcul a puterii active este cea de mai sus. O rescriu în continuare împreună cu celelalte variante perfect echivalente:<br>
        P=U&sdot;I sau P= I<sup>2</sup>&sdot;R sau P=U<sup>2</sup>/R <br> unde :</p><br>


                <ul >
        <li style="color: black" align="left">P – puterea electrică. Se exprimă în W (vaţi);</li>
        <li style="color: black" align="left"> U – tensiunea electrică. Se exprimă în V (volţi);</li>
        <li style="color: black" align="left">I – intensitatea curentului electric. Se exprimă în A (amperi);</li>
        <li style="color: black" align="left"> R - rezistența electrică a circuitului. Se exprimă în Ω (ohmi).</li>
                </ul>
</p>
</div>
  </div>
     <br>

<div class="w3-container" align="center">
  <div class="w3-card-4" style="width:71.2%">
    <header class="w3-container w3-light-grey" >
     <h3 style="background: #07c5f8">Puterea electrică reactivă</h3>
            </header>
            <div class="w3-container" style="background: white ; color:black" >
      <hr>
        <p style="color: black" align="left">Pe scurt, este puterea electrică plimbată de colo până colo de către bobinele și condensatorii dintr-un circuit.
            Mai pe larg, putem privi bobinele și condensatorii ca pe niște oglinzi: primesc energie electrică însă mai devreme sau mai târziu o reflectă înapoi în circuit.
            Din acest motiv condensatoarelor și bobinelor li se mai spun componente reactive – pentru că reacționează la trecerea curentului electric folosind energia electrică acumulată anterior.

Într-un circuit în care avem rezistențe, bobine și condensatori, puterea electrică reactivă apare doar datorită prezenței în circuit a bobinelor și condensatorilor deoarece acestea sunt singurele componente care înmagazinează energia electrică primită, putând ulterior să o reintroducă în circuit.
            Ca să fim mai la obiect, uite cum se întâmplă:<br>
        <li style="color:black" align="left"> Energia electrică primită de o bobină se transformă în energie magnetică.
                Când tensiunea de la bornele bobinei tinde să devină constantă sau chiar să scadă, energia magnetică stocată în bobină se transformă din nou în energie electrică producând un curent electric de sens contrar celui care există inițial prin bobină;</li>
        <li style="color: black" align="left">Energia electrică primită de un condensator este folosită pentru a muta sarcini electrice de la o bornă la alta a condensatorului.
            Când tensiunea de la bornele condensatorului tinde să scadă, energia (s-o numim electrostatică) din condensator se transformă înapoi în energie electrică sub forma unui curent care are același sens cu cel inițial.
            Altfel spus, când tensiunea de a borne scade, condensatorul se descarcă și bagă înapoi în circuit energia electrică pe care a primit-o mai devreme.</li>
        <br>
       <p style="color: black">  Formula de calcul a puterii electrice reactive este:<br>
           Q=I<sup>2</sup>&sdot;X sau Q=U<sup>2</sup>/X unde: <br></p>

                    <ul>
        <li style="color: black" align="left"> Q – putere electrică reactivă. Se exprimă în VAR (volt-amperi reactivi);</li>
         <li style="color: black" align="left">I – intensitatea curentului electric. Se exprimă în A (amperi);</li>
        <li style="color: black" align="left"> U – tensiunea electrică. Se exprimă în V (volţi);</li>
        <li style="color: black" align="left"> X –  reactanța  electrică. Se exprimă în &Omega; (ohmi).</li>
                 </ul>
        <br>
    <p style="color: black">
Ecuația de calcul a reactanței inductive este:</p><br>
        <p style="color: black"  align="center">  X<sub>L</sub>=2&sdot; &pi;&sdot; f &sdot; L </p><br>
        <p style="color: black" align="center"> Ecuația de calcul a reactanței capacitive este:</p><br>
        <p style="color: black " align="center">X<sub>C</sub>=1/(2 &sdot; &pi; &sdot;f &sdot; C)</p> <br>
        unde:<br>
                  <ul>
        <li style="color: black;position: relative;left: 80px" align="left">X<sub>L</sub> – reactanța inductivă. Se exprimă în Ω (ohmi);</li>
        <li style="color: black;position: relative;left: 80px" align="left"> X<sub>C</sub>  – reactanța capacitivă. Se exprimă în  &Omega; (ohmi);</li>
         <li style="color: black;position: relative;left: 80px" align="left"> f –frecvența curentului alternativ care circulă
prin respectiva componentă. Se exprimă în Hz (herţi);</li>
         <li style="color: black;position: relative;left: 80px" align="left"> L – inductanța bobinei sau inductanța echivalentă <br>(în cazul în care circuitul conține mai multe bobine). <br>Se exprimă în H (henry);</li>
        <li style="color: black;position: relative;left: 80px"align="left">C – capacitatea condensatorului sau capacitatea echivalentă<br> (în cazul în care circuitul conţine mai multe bobine).<br> Se exprimă în F (farazi).</li>
                      </ul>
                 <br>   <p align="center" style="color: #111111;position: relative;right: 60px">Acestea fiind zise, X din ecuaţia puterii reactive:</p>
                        <ul>
        <li style="color: black;position: relative;right: 30px"align="left align="left"> se înlocuieşte cu XL dacă în circuit avem doar bobine;</li>
        <li style="color: black;position: relative;right: 30px"align="left">se înlocuieşte cu XC dacă în circuit avem doar condensatori.</li>
                </ul>

        </p>

    </div>
         </div>
       </div>

    <br>

    <div class="w3-container" align="center">
  <div class="w3-card-4" style="width:71.2%">
    <header class="w3-container w3-light-grey" >
     <h3 style="background: #07c5f8">Puterea electrică aparentă</h3>
            </header>
            <div class="w3-container" style="background: white ; color:black" >
      <hr>
        <p style="color: black">Este puterea care include atât puterea electrică activă cât şi cea reactivă. Relaţia de calcul este următoarea:<br>
        S=U &sdot; I sau S=I<sup>2</sup> &sdot; Z sau S=U<sup>2</sup>/Z <br>
            unde:<br>
                <ul>
            <li style="color: black;text-align: left">  S – puterea electrică aparentă. Se exprimă în VA (volt-amperi);</li>
            <li style="color: black;text-align: left">U – tensiunea electrică. Se exprimă în V (volţi);</li>
            <li style="color: black;text-align: left">I – intensitatea curentului electric. Se exprimă în A (amperi);</li>
            <li style="color: black;text-align: left"> Z – impedanţa electrică a circuitului.</li>
                </ul>
                <br>
               <p style="color: #111111;" align="left"> Pe scurt,  impedanţa electrică este suma dintre rezistenţa electrică echivalentă a circuitului, reactanţa capacitivă şi reactanţa inductivă.
                   La fel ca şi componentele sale impedanţa electrică se exprimă în &Omega; (ohmi).</p>

    </div>
          </div>
            </div>




</div>


</body>
</html>