<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Resistor</title>
        <link rel="icon" href="static/Img/Logo_VET.jpg">
        <link  rel="stylesheet" href="/static/css/teoria.css" >
        <link href="/static/css/w3.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
<div class="nav">
<ul>
       <li><a >Home</a>
    <ul>
    <li><a href="..">Home</a></li>
    <li><a href="/Teoria">Home Teoria</a></li>
         </ul>
      </li>
     <li><a>Introducere</a>
       <ul>
          <li><a href="/Curentul electric" >Curentul electic</a></li>
          <li><a href="/Tensiunea electrică" >Tenisunea electrică</a></li>
          <li><a href="/Rezistența electrică" >Rezistența electrică</a></li>
            <li><a href="/Puterea electrică">Puterea electrică</a> </li>
            <li><a href=" /Legea lui Ohm">Legea lui Ohm</a> </li>
      </ul>
    </li>
    <li><a >Componente  pasive</a>
       <ul>
          <li><a href="/Resistor" >Rezistor</a></li>
          <li><a href="/Condesator" >Capacitor</a></li>
          <li><a href="/Inductor" >Inductor</a></li>
      </ul>
    </li>
    <li><a >Componente active</a>
        <ul>
              <li><a href="/Semiconductor">Semiconductor</a>
            <li><a href="/Joncțiune PN">Joncțiune</a> </li>
             <li><a href="/Tranzistor">Tranzistor</a></li>
            <li><a href="/Dioda">Dioda</a></li>
        </ul>
    </li>
     <li><a >Circuite integrate</a>
         <ul>
            <li><a href="/Porți logicii">Porți logicii</a> </li>
        </ul>
    </li>
    <li><a >Aplicații</a>
        <ul>
               <li><a href="/Amplificator">Amplificator</a>
        </ul>
    </li>
</ul>
   </div>
   <style>
                    ul{
                        display: inline-block;
                        padding-left: 0;
                        text-align: left;
                    }
                </style>
<br><br>

   <div class="w3-container" align="center">
  <div class="w3-card-4" style="width:70%">
    <header class="w3-container w3-light-grey" >
     <h3 style="background: #07c5f8">Rezistor</h3>
            </header>
            <div class="w3-container" style="background: white ; color:black" >
<img src="/static/Img/Img_Teoria/rezistoare%20chimice.jpg" width="600" height="300" alt="rezistoare" align="center" class="imgresponsive">
 <p style= "color: black" align="left">Rezistorul este o piesă componentă din circuitele electrice și electronice a cărei principală proprietate este rezistența electrică.
     Rezistorul obișnuit are două terminale; conform legii lui Ohm, curentul electric  care curge prin rezistor este proporțional   cu  tensiunea aplicată pe terminalele rezistorului I=U/R.
 Cel mai important parametru al unui rezistor este rezistența sa electrică , exprimată în ohmi.
Rezistoarele sunt complet caracterizate prin relația între tensiunea la borne și intensitatea curentului prin element,
     atunci când dependența U=f(I) este liniară. Rezistoarele se pot clasifica după mai multe criterii.
După materialul folosit, se realizează: rezistoare din metale sau aliaje metalice (fire sau benzi); rezistoare peliculare cu carbon,
     (pelicule depuse pe un suport izolat); rezistoare cu peliculă de metal-oxid; rezistoare cu lichid,
     bazate pe rezistența unui strat de lichid între două plăci metalice cufundate în lichid.
     Un rezistor variabil este un rezistor a cărui rezistență electrică poate fi ajustată prin deplasarea mecanică a unui contact (cursor) electric intermediar;
     cel mai adesea rezistoarele de acest tip au trei terminale: capetele rezistorului (între care rezistența este maximă și constantă) și conexiunea la contactul mobil(cursor).
     Dacă contactul mobil nu face punct comun cu unul din capete, atunci uzual se vorbește despre "un potențiometru", care este un divizor variabil de tensiune.
                <p style="color: black">În circuit, rolul rezistorului poate fi:</p>
                <ul>
    <li style="color: black">producerea căderii de tensiunii dorite între două puncte din circuit;</li>
    <li style="color: black"> determinarea curentului dorit printr-o altă piesă a circuitului;</li>
    <li style="color: black"> divizarea unei tensiuni într-un raport dat (circuit divizor de tensiune);</li>
    <li style="color: black">terminarea unei linii de transmisie(ca rezistență de sarcină).</li>
                    </ul>
</div>
      </div>
       </div>




        <div class="textDiv">

        </div>
   <div class="w3-container" align="center">
  <div class="w3-card-4" style="width:70%">
    <header class="w3-container w3-light-grey" >
     <h3 style="background: #07c5f8">Codul culorilor pe rezistente electrice</h3>
            </header>
            <div class="w3-container" style="background: white ; color:black" >
    <p style="color: black" align="left">
Codare cu culori a rezistorului utilizează benzi colorate pentru a identifica cu ușurință o valoare a rezistorului și o toleranță în procente.
        Există multe tipuri diferite de rezistor disponibile care pot fi utilizate atât în circuitele electrice cât și electronice pentru a controla fluxul de curent sau pentru a produce o cădere de tensiune în mai multe moduri diferite.
        Dar pentru a face acest lucru, rezistorul propriu-zis trebuie să aibă o anumită valoare "rezistivă" sau "rezistență".
        Rezistoarele sunt disponibile într-o gamă de valori diferite ale rezistenței, de la fracțiunile unui ohm Ω la milioane de ohmi.
        Evident, ar fi imposibil de a avea rezistori disponibili din fiecare valoare posibilă, de exemplu, 1Ω, 2Ω, 3Ω, 4Ω, etc, pentru că literalmente zeci de sute de mii, dacă nu zeci de milioane de diferite rezistoare ar trebui să existe pentru a acoperi toate posibile valori.
        În schimb, rezistoarele sunt fabricate în așa numitele "valori preferate", cu valoarea lor de rezistență imprimată pe corpul lor cu cerneală colorată.
        Deci, pentru a depăși acest lucru, rezistoarele mici utilizează benzi vopsite colorat pentru a indica atât valoarea lor rezistivă, cât și toleranța lor, cu dimensiunea fizică a rezistorului indicând puterea nominală.
        Aceste benzi vopsite colorat produc un sistem de identificare, cunoscut în general sub denumi-rea de cod de culori a rezistoarelor.
        Valorile rezistenței, toleranței și puterii nominale sunt în general tipărite pe corpul rezistorului cu numere sau litere atunci când corpul rezistoarelor este suficient de mare pentru a citi imprimarea, cum ar fi rezistoarele de putere mari.
        Dar când rezistorul este mic, cum ar fi un tip de carbon sau peliculă de 1/4W, aceste specificații trebuie să fie arătate în altă manieră, deoarece imprimarea ar fi prea mică pentru citire.
        O schemă internațională și universal acceptată a codului de culori a rezistorului a fost dezvoltată acum mulți ani ca o modalitate simplă și rapidă de identificare a unei valori ohmice a rezistoarelor indiferent de mărimea sau starea aceste-ia.
        Se compune dintr-un set de inele sau benzi individuale colorate în ordine spectrală reprezentând fiecare cifră a valorii rezistenței. Marcajul codului de culori al rezistorului este citit întotdeauna pornind de la stânga la dreapta, cu banda de toleranță, mai mare în lățime, orientată spre partea dreaptă indicând toleranța sa.
        Prin potrivirea culorii primei benzi cu numărul asociat din coloana numerică a diagramei de culori sub prima cifră este identificată și aceasta reprezintă prima cifră a valorii rezistenței.
        Din nou, prin potrivirea culorii celei de-a doua benzi cu numărul asociat în coloana cifră a diagramei de culori se obține a doua cifră a valorii rezistenței și așa mai departe.
        Deci, codul de culori al rezistorului este citit de la stânga la dreapta, după cum se arată mai jos:<br>
 <img src="/static/Img/Img_Teoria/resistorsixband.jpg" alt="Resistor schema " class="imgresponsive">
            </div>
      </div>
       <br>


       <style>
     table {
  width:70%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}





    </style>
<div class="textDiv">
    <table>
        <tr>
            <th style="color: white;background:#07c5f8" >culoare</th>
            <th style="color: white;background:#07c5f8">Banda 1</th>
            <th style="color: white;background:#07c5f8">Banda 2</th>
            <th style="color: white;background:#07c5f8">Banda 3</th>
            <th style="color: white;background:#07c5f8">Multiplicator</th>
            <th style="color: white;background:#07c5f8">Toleranța</th>
            <th style="color: white;background:#07c5f8">TCR</th>
        </tr>
        <tr >
            <td style="color: black;background: white">Negru</td>
            <td style="color: black;background: white">0</td>
            <td style="color: black;background: white">0</td>
            <td style="color: black;background: white">0</td>
            <td style="color: black;background: white">x1</td>
            <td style="color: black;background: white"></td>
            <td style="color: black;background: white">250</td>
        </tr>
          <tr >
            <td style="color: #A52A2A ;background: white">Maro</td>
            <td style="color: #A52A2A ;background: white">1</td>
            <td style="color: #A52A2A ;background: white">1</td>
            <td style="color: #A52A2A ;background: white">1</td>
            <td style="color: #A52A2A ;background: white">x10</td>
            <td style="color: #A52A2A ;background: white"></td>
            <td style="color: #A52A2A ;background: white">100</td>
        </tr>
        <tr >
            <td style="color: #FF0000 ;background: white">Roșu</td>
            <td style="color: #FF0000 ;background: white">2</td>
            <td style="color: #FF0000 ;background: white">2</td>
            <td style="color: #FF0000 ;background: white">2</td>
            <td style="color: #FF0000 ;background: white">x100</td>
            <td style="color: #FF0000 ;background: white"></td>
            <td style="color: #FF0000 ;background: white">50</td>
        </tr>
         <tr >
            <td style="color: #FFA500 ;background: white">Portocaliu</td>
            <td style="color: #FFA500 ;background: white">3</td>
            <td style="color: #FFA500 ;background: white">3</td>
            <td style="color: #FFA500 ;background: white">3</td>
            <td style="color: #FFA500;background: white">x1000</td>
            <td style="color: #FFA500 ;background: white"></td>
            <td style="color: #FFA500 ;background: white">15</td>
        </tr>
        <tr >
            <td style="color: #FFFF00;background: white">Galben</td>
            <td style="color: #FFFF00;background: white">4</td>
            <td style="color: #FFFF00;background: white">4</td>
            <td style="color: #FFFF00;background: white">4</td>
            <td style="color: #FFFF00;background: white">x10000</td>
            <td style="color: #FFFF00;background: white"></td>
            <td style="color: #FFFF00;background: white">25</td>
        </tr>
         <tr >
            <td style="color: #008000;background: white">Verde</td>
            <td style="color: #008000;background: white">5</td>
            <td style="color: #008000;background: white">5</td>
            <td style="color: #008000;background: white">5</td>
            <td style="color: #008000;background: white">x100000</td>
            <td style="color: #008000;background: white"></td>
            <td style="color: #008000;background: white">20</td>
        </tr>
         <tr >
            <td style="color: #0000FF;background: white">Abastru</td>
            <td style="color: #0000FF;background: white">6</td>
            <td style="color: #0000FF;background: white">6</td>
            <td style="color: #0000FF;background: white">6</td>
            <td style="color: #0000FF;background: white">x1000000</td>
            <td style="color: #0000FF;background: white"></td>
            <td style="color: #0000FF;background: white">10</td>
        </tr>
        <tr >
            <td style="color: #EE82EE;background: white">Violet</td>
            <td style="color: #EE82EE;background: white">7</td>
            <td style="color: #EE82EE;background: white">7</td>
            <td style="color: #EE82EE;background: white">7</td>
            <td style="color: #EE82EE;background: white"></td>
            <td style="color: #EE82EE;background: white"></td>
            <td style="color: #EE82EE;background: white">5</td>
        </tr>
        <tr >
            <td style="color: #808080;background: white">Gri</td>
            <td style="color: #808080;background: white">8</td>
            <td style="color: #808080;background: white">8</td>
            <td style="color: #808080;background: white">8</td>
            <td style="color: #808080;background: white"></td>
            <td style="color: #808080;background: white"></td>
            <td style="color: #808080;background: white">1</td>
        </tr>
           <tr >
            <td style="color: black;background: white">Albă</td>
            <td style="color:  black;background: white">9</td>
            <td style="color: black;background: white">9</td>
            <td style="color:  black;background: white">9</td>
            <td style="color:  black;background: white"></td>
            <td style="color: black;background: white"></td>
            <td style="color:  black;background: white"></td>
        </tr>
          <tr >
            <td style="color: #ffD700;background: white">Auriu</td>
            <td style="color: #ffD700;background: white"></td>
            <td style="color: #ffD700;background: white"></td>
            <td style="color: #ffD700;background: white"></td>
            <td style="color: #ffD700;background: white"></td>
            <td style="color: #ffD700;background: white">&plusmn;5% toleranța</td>
            <td style="background: white"></td>
        </tr>
           <tr >
            <td style="color: #C0C0C0;background: white">Argintiu</td>
            <td style="color: #C0C0C0;background: white"></td>
            <td style="color: #C0C0C0;background: white"></td>
            <td style="color: #C0C0C0;background: white"></td>
            <td style="color: #C0C0C0;background: white"></td>
            <td style="color: #C0C0C0;background: white">&plusmn;10% toleranța</td>
            <td style="color: #C0C0C0;background: white"></td>
        </tr>


    </table>
    </div>


    <br>

          <div class="w3-container" align="center">
  <div class="w3-card-4" style="width:71.2%">
    <header class="w3-container w3-light-grey" >
     <h3 style="background: #07c5f8">Calcul valorilor rezistorului</h3>
            </header>
            <div class="w3-container" style="background: white ; color:black" >
    <p style="color: black" align="left"> Sistemul Codului de culori este total bine și bun, dar trebuie să înțelegem cum să-l aplicăm pentru a obține valoarea corectă a rezistorului. Banda colorată din "stânga" sau cea mai semnificativă este banda cea mai apropiată de un cablu de conectare, iar benzile cu coduri de culoare se citesc de la stânga la dreapta după cum urmează:
Banda 1, Banda 2 ,Banda 3, Multiplicator, Toleranta ,Tcr = Culoare, Culoare, Culoare x 10culoare  în Ohm &Omega; , Toleranța, Tcr<br>
  <p style="color: #111111"align="center">  De exemplu, un rezistor are următoarele marcaje colorate;<br>
                Roșu, galben ,albastru, verde, auriu, galben = 2 4 6 X10000 + 5\% + 25 = 2.46M  &plusmn; 10% toleranța \ 25ppm</p>


        </div>
         </div>
                 </div>
    <style>
        img {
   display: block;
   margin-left: auto;
   margin-right: auto;
}
    </style>

<br>

               <div class="w3-container" align="center">
  <div class="w3-card-4" style="width:71.2%">
    <header class="w3-container w3-light-grey" >
     <h3 style="background: #07c5f8">Rezistor într-o rețea paralelă</h3>
            </header>
            <div class="w3-container" style="background: white ; color:black" >
    <img  src="/static/Img/Img_Teoria/Rezistor_paralel.png" class="responsive" >

    <p style="color: black" align="center">Rezistorul R1 și R2 sunt într-o rețea paralelă  și pentru a determina rezistenșta totală(RT)
se  va aplica următoarea formulă:<br>
       1/Rt=1/R1+1/R2+.....+1/Rn;
</div>
      </div>
                   </div>
<br>
         <div class="w3-container" align="center">
  <div class="w3-card-4" style="width:71.2%">
    <header class="w3-container w3-light-grey" >
     <h3 style="background: #07c5f8">Rezistor într-o rețea serială</h3>
            </header>
            <div class="w3-container" style="background: white ; color:black" >
    <img src="/static/Img/Img_Teoria/Rezistor_serial.png" class="responsive">
     <p style="color: black" align="center">
  În această situație avem trei rezistori care sunt într-o rețea seriala să îi denumim R1, R2 și R3 pentru a determina rezistența totală(RT) se va aplica următoarea formulă<br>
        Rt=R1+R2+...+Rn</p><br>
     </div>
           </div>
                  </div>
</div>
<br>
    <div class="w3-container" align="center">
  <div class="w3-card-4" style="width:70%">
    <header class="w3-container w3-light-grey" >
     <h3 style="background: #07c5f8">Potențiometru</h3>
            </header>
            <div class="w3-container" style="background: white ; color:black" >
<img src="/static/Img/Img_Teoria/Potentionometru.jpg" width="500" height="500" align="center" class="responsive">
<p style="color: black" align="left">Un potențiometru este un rezistor cu trei terminale cu un contact glisant sau rotativ care formează un împărțitor de tensiune reglabil.
    Dacă se folosesc doar două terminale, un capăt și ștergătorul, acționează ca un rezistor sau reostat variabil.</p>
</div>
                 </div>
       </div>

</body>
</html>

