<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Rezistența electrică </title>
        <link rel="icon" href="static/Img/Logo_VET.jpg">
        <link  rel="stylesheet" href="/static/css/teoria.css" >
        <link href="/static/css/w3.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
<div class="nav">
<ul>
    <li><a >Home</a>
    <ul>
    <li><a href="..">Home</a></li>
    <li><a href="/Teoria">Home Teoria</a></li>
         </ul>
      </li>
     <li><a>Introducere</a>
	    <ul>
		    <li><a href="/Curentul electric" >Curentul electic</a></li>
		    <li><a href="/Tensiunea electrică" >Tenisunea electrică</a></li>
		    <li><a href="/Rezistența electrică" >Rezistența electrică</a></li>
            <li><a href="/Puterea electrică">Puterea electrică</a> </li>
            <li><a href=" /Legea lui Ohm">Legea lui Ohm</a> </li>
	   </ul>
    </li>
    <li><a >Componente  pasive</a>
	    <ul>
		    <li><a href="/Resistor" >Rezistor</a></li>
		    <li><a href="/Condesator" >Capacitor</a></li>
		    <li><a href="/Inductor" >Inductor</a></li>
	   </ul>
    </li>
    <li><a >Componente active</a>
        <ul>
              <li><a href="/Semiconductor">Semiconductor</a>
            <li><a href="/Joncțiune PN">Joncțiune</a> </li>
             <li><a href="/Tranzistor">Tranzistor</a></li>
            <li><a href="/Dioda">Dioda</a></li>
        </ul>
    </li>
     <li><a >Circuite integrate</a>
        <ul>
            <li><a href="/Porți logicii">Porți logicii</a> </li>
        </ul>
    </li>
    <li><a >Aplicații</a>
        <ul>
               <li><a href="/Amplificator">Amplificator</a>
        </ul>
    </li>
</ul>
   </div>
<br><br>
<div class="w3-container" align="center">
  <div class="w3-card-4" style="width:70%">
    <header class="w3-container w3-light-grey" >
     <h3 style="background: #07c5f8">Rezistența electrică</h3>
            </header>
            <div class="w3-container" style="background: white ; color:black" >
      <hr>
        <p style="color: black" align="left">Rezistența electrică este o mărime fizică prin care se exprimă proprietatea unui conductor electric de a se opune trecerii prin el a curentului electric.
            În electrotehnică, ea este o măsură care determină ce valoare de tensiune este necesară pentru ca un anumit curent electric să treacă printr-un circuit (conductor) electric dat.
            Unitatea de măsură a rezistenței electrice, în SI, este ohm-ul, notat cu Ω.</p>
<br><br>
              <div class="w3-center">
            <p style="color: black">R= p &sdot; l &frasl; s unde:</p>
                     </div>
            <li style="color: black" align="left"> p este rezistivitatea materialului din care este făcut conductorul, măsurată în ohm metru;</li>
            <li style="color: black" align="left">l este lungimea conductorului, măsurată în metri;</li>
            <li style="color: black" align="left">S este secțiunea transversală a conductorului, măsurată în metri pătrați;</li>
      <p style="color: black"  >  Într-un circuit electric simplu(ochi), valoare rezistenței lui se calculează cu ajutorul legii lui Ohm,  fiind egală cu raportul dintre tensiunea U aplicată la bornele circuitului și intensitatea I a curentului care circulă prin circuit.<br>
        R=U/I<br>
          Inversa acestei mărimi este mărimea conductanță electrică.</p>
   </div>
   </div>
    </div>


<br>

<div class="w3-container" align="center">
  <div class="w3-card-4" style="width:70%">
    <header class="w3-container w3-light-grey" >
     <h3 style="background: #07c5f8">Ohm</h3>
            </header>
            <div class="w3-container" style="background: white ; color:black" >
      <hr>

<p style="color: black" align="left">Ohmul  este unitatea de măsură pentru impedanța electrică sau, în curent continuu, pentru rezistența electrică.
    Rezistența de 1 Ω corespunde unui conductor în care se dezvoltă un curent electric continuu cu intensitatea de 1 amper atunci când la capetele sale se aplică o tensiune electrică continuă de 1 volt,
    cu condiția ca pe parcursul conductorului să nu se genereze în nici un punct o tensiune suplimentară.<br>
Numele unității a fost dat în cinstea fizicianului german Georg Ohm.

</p>
<img src="/static/Img/Img_Teoria/Georg_Simon_Ohm3.jpg" align="center" class="imgresponsive" >
<p style="color: black" align="center">Georg Ohm</p>

</div>
</div>
</div>




</body>
</html>