<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Semiconductor </title>
        <link rel="icon" href="static/Img/Logo_VET.jpg">
        <link  rel="stylesheet" href="/static/css/teoria.css" >
        <link href="/static/css/w3.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>


<div class="nav">
<ul>
      <li><a >Home</a>
    <ul>
    <li><a href="..">Home</a></li>
    <li><a href="/Teoria">Home Teoria</a></li>
         </ul>
      </li>
     <li><a>Introducere</a>
	    <ul>
		    <li><a href="/Curentul electric" >Curentul electic</a></li>
		    <li><a href="/Tensiunea electrică" >Tenisunea electrică</a></li>
		    <li><a href="/Rezistența electrică" >Rezistența electrică</a></li>
            <li><a href="/Puterea electrică">Puterea electrică</a> </li>
            <li><a href=" /Legea lui Ohm">Legea lui Ohm</a> </li>
	   </ul>
    </li>
    <li><a >Componente  pasive</a>
	    <ul>
		    <li><a href="/Resistor" >Rezistor</a></li>
		    <li><a href="/Condesator" >Capacitor</a></li>
		    <li><a href="/Inductor" >Inductor</a></li>
	   </ul>
    </li>
    <li><a >Componente active</a>
        <ul>
              <li><a href="/Semiconductor">Semiconductor</a>
            <li><a href="/Joncțiune PN">Joncțiune</a> </li>
             <li><a href="/Tranzistor">Tranzistor</a></li>
            <li><a href="/Dioda">Dioda</a></li>
        </ul>
    </li>
     <li><a >Circuite integrate</a>
      <ul>
            <li><a href="/Porți logicii">Porți logicii</a> </li>
        </ul>
    </li>
    <li><a >Aplicații</a>
        <ul>
               <li><a href="/Amplificator">Amplificator</a>
        </ul>
    </li>
</ul>
   </div>
<br><br><br>

<style>
.myDiv {
	align-content: center;
}

    img {
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
  }



    </style>

<div class="w3-container" align="center">
  <div class="w3-card-4" style="width:70%">
    <header class="w3-container w3-light-grey" >
     <h3 style="background: #07c5f8">Structura crsitalină a unui semiconductor</h3>
            </header>
            <div class="w3-container" style="background: white ; color:black" >
        <p style="color: black" align="left">Atomi de siliciu formează o relație covalentă.
            Creează în comun perechi electronice astfel încât fiecare dintre ei să realizeze o configurație electronică stabilă, are 8 valențe electronice.
            Atomi sunt aranjați corespunzător în spațiu și aceea se numește structura cristalină( zăbrele).
            Relația covalentă este foarte puternică. Nu există electroni liberi și siliciu pur nu conduce electricitatea.
            Din cauza creșteri a temperaturi energia electronilor crește și câțiva electroni părăsește relația covalentă și devin un număr liber al acestor electroni care sunt foarte puțini și siliciu încă nu conduce electricitatea, electroni care se eliberez prin această metodă se numesc electroni proprii.
            Locul în relația covalentă unde lipsește un electron se numește cavitate.
            Cavitatea se comportă ca particule încărcate pozitiv.</p>

    </div>
       </div>
     </div>

  <br>

<div class="w3-container" align="center">
  <div class="w3-card-4" style="width:70%">
    <header class="w3-container w3-light-grey" >
     <h3 style="background: #07c5f8">Semiconductori de tip N și P</h3>
            </header>
          <div class="w3-container" style="background: white ; color:black" >
        <p  style="color: black " align="center">Pentru a devine siliciu conducător se adaugă primează în dependență de care element se adaugă siliciului. Se obțin două tipuri de semiconductori N și P..</p>
    </div>
       </div>
     </div>
  <br>

      <div class="w3-container" align="center">
  <div class="w3-card-4" style="width:70%">
    <header class="w3-container w3-light-grey" >
     <h3 style="background: #07c5f8">Semiconductor de tip N</h3>
            </header>
        <div class="w3-container" style="background: white ; color:black" >
        <p  style="color: black " align="center">Semiconductori de tip N se obțin când se în structura cristalină se adaugă elemente din grupa a cincea al tabelului periodic. Antimon -sb-Fosfor-P.</p><br>
        <img src="/static/Img/Img_Teoria/Semiconductor_de_tip_N2.png " width="400" height="400" class="imgresponsive" >

                <p style="color: black" align="left">Atomul antimoniului și cinci valențe electroni va forma relația covalentă cu atomi siliciului și al 5 electron va rămâne liber.
Electroni liberi care provine din atomul primează 'primase'  se numesc  amestecături și există foarte mulți.
Pe lângă ei în semiconductor există și  electroni proprii a șa dar electroni sunt transportatori principali de încărcare.
Cavitățile sunt doar proprii și sunt puține  și ele sunt   purtători de încărcare secundară.
Primează din  a 5 grupa periodică dau siliciului electronii liberi și se numesc donatori.

</p>
        </div>
  </div>
      </div>

    <br>

  <div class="w3-container" align="center">
  <div class="w3-card-4" style="width:70%">
    <header class="w3-container w3-light-grey" >
     <h3 style="background: #07c5f8"> Semiconducturi de tip P</h3>
            </header>
        <div class="w3-container" style="background: white ; color:black" >
        <p style="color:black " align="center">Semiconductorul de tip P se obține când se siliciului adaugă elementul din grupa a treia al tabelului periodic Aluminium -Al  sau Bor -B</p>
            <img src="/static/Img/Img_Teoria/Semiconductor_de_tip_P2.png" alt="semiconductor" width="400" height="400" class="imgresponsive">
        <p style="color: black" align="left">Atomul de aluminium are 3 valențe electronic și formează 3 perechi electronice cu atomi de siliciu rămâne a patra pereche neumplută adică are cavitate și sunt multe.
            Transportatori principali de încărcare sunt cavitățile(amestecături+proprii) și cei secundari transportatori de încărcare sunt electroni(doar proprii).
            Impuritățile din al treilea grup cu un singur nume se numesc Acceptori.</p>
            </div>
    </div>
  </div>

  <br>


  <div class="w3-container" align="center">
  <div class="w3-card-4" style="width:70%">
    <header class="w3-container w3-light-grey" >
     <h3 style="background: #07c5f8"> Tipul de mișcare</h3>
            </header>
        <div class="w3-container" style="background: white ; color:black" >
       <p style="color: black" align="center" >1.Haotic-toate direcțiile și direcțiile sunt la fel de probabile.</p>
        <img src="/static/Img/Img_Teoria/Miscare_Haotica.png" width="417" height="273"  class="imgresponsive2">
        <p style="color: black" align="center" >2.Mișcare difuzațională apare din cauza mari de concentrație.
            Încărcăturile se deplasează de la zona mai mare la cea cu concentrație mai mică</p>
            <img src="/static/Img/Img_Teoria/Miscare_difuziotionala.png " alt="miscare_difuzationala" width="417" height="273" class="imgresponsive2" >
            <p style="color: black" align="center" >3.Sarcinile direcționale se mișcă într-un mod direcțional când există câmpul electric.
    Electroni se mișc în contra sens de câmp iar cavitățile în sensul câmpului.</p>
            <img src="/static/Img/Img_Teoria/Sarcinile%20directionale%20.png" alt="sarcinii_directionale" width="417" height="273" class="imgresponsive2" >

             <style>
                    ul{
                        display: inline-block;
                        padding-left: 0;
                        text-align: left;
                    }
                </style>
        <ul >
        <li  style="color: black">X-Electroni</li>
        <li style="color: black">E-Câmpul electric</li>
        <li style="color: black">O-Cavitate</li>
            </ul>
    </div>
  </div>
  </div>
<br><br>
</body>
</html>