<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Tensiunea electrică </title>
        <link rel="icon" href="static/Img/Logo_VET.jpg">
        <link  rel="stylesheet" href="/static/css/teoria.css" >
        <link href="/static/css/w3.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>
<div class="nav">
<ul>
     <li><a >Home</a>
    <ul>
    <li><a href="..">Home</a></li>
    <li><a href="/Teoria">Home Teoria</a></li>
         </ul>
      </li>
     <li><a>Introducere</a>
	    <ul>
		    <li><a href="/Curentul electric" >Curentul electic</a></li>
		    <li><a href="/Tensiunea electrică" >Tenisunea electrică</a></li>
		    <li><a href="/Rezistența electrică" >Rezistența electrică</a></li>
            <li><a href="/Puterea electrică">Puterea electrică</a> </li>
            <li><a href=" /Legea lui Ohm">Legea lui Ohm</a> </li>
	   </ul>
    </li>
    <li><a >Componente  pasive</a>
	    <ul>
		    <li><a href="/Resistor" >Rezistor</a></li>
		    <li><a href="/Condesator" >Capacitor</a></li>
		    <li><a href="/Inductor" >Inductor</a></li>
	   </ul>
    </li>
    <li><a >Componente active</a>
        <ul>
              <li><a href="/Semiconductor">Semiconductor</a>
            <li><a href="/Joncțiune PN">Joncțiune</a> </li>
             <li><a href="/Tranzistor">Tranzistor</a></li>
            <li><a href="/Dioda">Dioda</a></li>
        </ul>
    </li>
     <li><a >Circuite integrate</a>
         <ul>
            <li><a href="/Porți logicii">Porți logicii</a> </li>
        </ul>
    </li>
    <li><a >Aplicații</a>
        <ul>
               <li><a href="/Amplificator">Amplificator</a>
        </ul>
    </li>
</ul>
   </div>
<br><br>

<div class="w3-container" align="center">
  <div class="w3-card-4" style="width:70%">
    <header class="w3-container w3-light-grey" >
     <h3 style="background: #07c5f8">Tensiunea electrică</h3>
            </header>
            <div class="w3-container" style="background: white ; color:black" >
      <hr>
        <p style="color: black">Tensiunea electrică (U) între două puncte ale unui circuit este o mărime fizică a cărei unitate de măsură în S.I este voltul: [U]S.I. = V.</p>
    </div>
         </div>
    </div>
<br>

    <div class="w3-container" align="center">
  <div class="w3-card-4" style="width:70%">
    <header class="w3-container w3-light-grey" >
     <h3 style="background: #07c5f8">Măsurarea tensiunii electrice</h3>
            </header>
            <div class="w3-container" style="background: white ; color:black" >
      <hr>
        <p style="color: black" align="left">Instrumentul de măsură pentru tensiunea electrică este voltmetrul.
            Pentru a măsura tensiunea electrică între două puncte ale unui circuit se leagă voltmetrul în paralel, între cele două puncte.
            Pentru ca un receptor legat la un generator să funcționeze normal trebuie ca tensiunea generatorului să fie egală cu tensiunea receptorului.<br>

<p style="color: black" align="center"></p>Atenție!<br>
Corpul omenesc este conductor. Nu atingeți niciodată bornele prizei deoarece o tensiune electrică mai mare de 24V este periculoasă!
        </p>
<img src="/static/Img/Img_Teoria/aparat-masura-tester-voltmetru-ampermetru-ohmetru-cu-lcd.jpg" width="400" height="400" class="imgresponsive">
                <p style="color:black " align="center">Aparatul de pe imagine se numește multimetru are un LCD ecran pe care ni se afișează măsurătorile.</p>
                 </div>

</div>

</div>

                <div class="w3-container" align="center">
  <div class="w3-card-4" style="width:70%">
             <div class="w3-container" style="background: white ; color:black" >
                 <p style="color: #111111" align="center"> Cu ajutorul multimetrului putem măsura:

</p>
       </p>

                <style>
                    .ul{
                        display: inline-block;
                        padding-left: 0;
                        text-align: left;
                    }
                </style>

        <div class="ul">
        <ul >
        <li style="color: black" align="center">tensiunea AC</li>
        <li style="color: black" align="center"> tensiunea DC</li>
        <li style="color: black"  align="center">intensitatea AC</li>
        <li style="color: black" align="center"> intensitatea DC</li>
        <li style="color: black" align="center"> rezistența</li>
        <li style="color: black" align="center">capacitatea</li>
        <li style="color: black" align="center">dioda</li>
        <li style="color: black" align="center">tranzistori</li>
        <li style="color: black" align="center">temperatura</li>
        </ul>
</div>
</div>
      </div>



</div>




</body>
</html>