<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Teoria</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="icon" href="static/Img/Logo_VET.jpg">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   <link href="/static/css/teoria.css" rel="stylesheet">
   <link href="/static/css/w3.css" rel="stylesheet">
</head>
<body>

<div class="nav">
<ul>
      <li><a >Home</a>
    <ul>
    <li><a href="..">Home</a></li>
    <li><a href="/Teoria">Home Teoria</a></li>
         </ul>
      </li>
     <li><a>Introducere</a>
	    <ul>
		    <li><a href="/Curentul electric" >Curentul electic</a></li>
		    <li><a href="/Tensiunea electrică" >Tenisunea electrică</a></li>
		    <li><a href="/Rezistența electrică" >Rezistența electrică</a></li>
            <li><a href="/Puterea electrică">Puterea electrică</a> </li>
            <li><a href=" /Legea lui Ohm">Legea lui Ohm</a> </li>
	   </ul>

    </li>
    <li><a >Componente  pasive</a>
	    <ul>
		    <li><a href="/Resistor" >Rezistor</a></li>
		    <li><a href="/Condesator" >Capacitor</a></li>
		    <li><a href="/Inductor" >Inductor</a></li>
	   </ul>
    </li>
    <li><a >Componente active</a>
        <ul>
              <li><a href="/Semiconductor">Semiconductor</a>
            <li><a href="/Joncțiune PN">Joncțiune</a> </li>
             <li><a href="/Tranzistor">Tranzistor</a></li>
            <li><a href="/Dioda">Dioda</a></li>
        </ul>
    </li>
     <li><a >Circuite integrate</a>
          <ul>
            <li><a href="/Porți logicii">Porți logicii</a> </li>
        </ul>
    </li>
    <li><a >Aplicații</a>
        <ul>
               <li><a href="/Amplificator">Amplificator</a>
        </ul>

    </li>

</ul>
       <li></li>
</div>


<div class="w3-container" align="center">
  <div class="w3-card-4" style="width:70%">
    <header class="w3-container w3-light-grey" >
       <h3 style="background: #07c5f8"> Electronica</h3>
            </header>
            <div class="w3-container" style="background: white ; color:black" >
      <hr>
      <p style="color: black" align="left"> Electronica se ocupă cu studiul dispozitivelor electronice și al circuitelor care includ aceste elemente (circuite electronice), folosite în procese de comandă, reglare, măsurare, ingineria, tehnologia și aplicațiile care se ocupă cu emisia, fluxul și controlul electronilor in vid si materie.
          Manualele de electronică sunt cam lungi și plictisitoare de aceea m-am gândit să fac un manual de electronică mai scurt dar să conțină tot ce este important.
          Pe această pagină veți găsi unele informați despre componentele electronice și veți găsi versiunea mea de manual din care puteți studia unele chestii despre electronică.
    </p>
<p class="card-text"><a  href="/static/pdf/Teoria.pdf " download rel="noopener noreferrer" target="_blank" style="color: #07c5f8" >
   Download a manual
</a></p>

    </div>
        </div>
      </div>

<br>


<div class="w3-container" align="center">
  <div class="w3-card-4" style="width:70%">
    <header class="w3-container w3-light-grey">
      <h3 style="background: #07c5f8">Nikola Tesla</h3>
    </header>
    <div class="w3-container" style="background: white ; color:black" >
      <hr>
       <img src="/static/Img/Img_Teoria/N.Tesla.jpg"  alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:170px">
      <p style="color: black" align="left"> Nikola Tesla a fost un inventator, fizician, inginer mecanic, inginer electrician și unul dintre promotorii cei mai importanți ai electricității comerciale.
             Tesla este considerat ca fiind un important om de știință al sfârșitului de secol XIX și începutului de secol XX.
        Este cunoscut  pentru contribuția sa la proiectarea unui sistem modern de alimentare cu curent alternativ.
        Cele mai importante invenții ale Tesla sunt sistemul polifazic, câmpul magnetic rotativ, motorul asincron, motorul sincron și transformatorul Tesla
             De asemenea, a descoperit una dintre modalitățile de generare a curentului de înaltă frecvență, a adus o contribuție semnificativă la transmisia și modularea semnalelor radio, iar lucrările sale în domeniul razelor X au fost de asemenea remarcate.
        Sistemul său de curent alternativ a permis o transmisie mult mai ușoară și mai eficientă a energiei electrice la distanță.<br> El a fost un om cheie în construcția primei centrale hidroelectrice de la Niagara Falls.
A  decedat  la 87 de ani, sărac și uitat.<br>
El este singurul sârb după care se numește o unitate de măsură internațională, o unitate de măsură pentru densitatea fluxului magnetic sau intensitatea câmpului magnetic - Tesla.
             Nikola Tesla este autorul a peste 700 de brevete, înregistrate în 25 de țări, dintre care 112 în domeniul electrotehnicii.</p>
    </div>

  </div>
</div>


       <div class="w3-container" align="center">
  <div class="w3-card-4" style="width:70%">
    <header class="w3-container w3-light-grey">
      <h3 style="background: #07c5f8">Sistemul al lui Tesla de producție a curentului alternativ și transmisie pe distanțe lungi.</h3>
    </header>
    <div class="w3-container" style="background: white ; color:black" >
      <hr>
         <img src="/static/Img/Img_Teoria/generatorul_curentului%20alternativ.png" class="imgresponsive">

        </div>
        </div>
       </div>

</body>

</html>

