<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Tranzistor </title>
        <link rel="icon" href="static/Img/Logo_VET.jpg">
        <link  rel="stylesheet" href="/static/css/teoria.css" >
        <link href="/static/css/w3.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="nav">
<ul>
      <li><a >Home</a>
    <ul>
    <li><a href="..">Home</a></li>
    <li><a href="/Teoria">Home Teoria</a></li>
         </ul>
      </li>
     <li><a>Introducere</a>
	    <ul>
		    <li><a href="/Curentul electric" >Curentul electic</a></li>
		    <li><a href="/Tensiunea electrică" >Tenisunea electrică</a></li>
		    <li><a href="/Rezistența electrică" >Rezistența electrică</a></li>
            <li><a href="/Puterea electrică">Puterea electrică</a> </li>
            <li><a href=" /Legea lui Ohm">Legea lui Ohm</a> </li>
	   </ul>
    </li>
    <li><a >Componente  pasive</a>
	    <ul>
		    <li><a href="/Resistor" >Rezistor</a></li>
		    <li><a href="/Condesator" >Capacitor</a></li>
		    <li><a href="/Inductor" >Inductor</a></li>
	   </ul>
    </li>
    <li><a >Componente active</a>
        <ul>
              <li><a href="/Semiconductor">Semiconductor</a>
            <li><a href="/Joncțiune PN">Joncțiune</a> </li>
             <li><a href="/Tranzistor">Tranzistor</a></li>
            <li><a href="/Dioda">Dioda</a></li>
        </ul>
    </li>
     <li><a >Circuite integrate</a>
            <ul>
            <li><a href="/Porți logicii">Porți logicii</a> </li>
        </ul>
    </li>
    <li><a >Aplicații</a>
        <ul>
               <li><a href="/Amplificator">Amplificator</a>
        </ul>
    </li>
</ul>
   </div>
<br><br>

<style>
.myDiv {
	align-content: center;
}

    img {
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
  }
   .textDiv{
		border: 2px outset blue;
		background-color: #292F33;
          }

                    ul{
                        display: inline-block;
                        padding-left: 0;
                        text-align: left;
                    }

    </style>
 <div class="w3-container" align="center">
  <div class="w3-card-4" style="width:70%">
    <header class="w3-container w3-light-grey" >
     <h3 style="background: #07c5f8">Tranizstor</h3>
            </header>
            <div class="w3-container" style="background: white ; color:black" >
<img src="/static/Img/Img_Teoria/Tranzistor.png" align="center" class="imgresponsive">
    <p style="color: black" align="left">Tranzistorul este un dispozitiv electronic din categoria semiconductoarelor care are cel puțin trei terminale (borne sau electrozi),
        care fac legătura la regiuni diferite ale cristalului semiconductor.<br> Este folosit mai ales pentru a amplifica și a comuta semnale electronice și putere electrică.</p>

</div>
      </div>
     </div>
<br>
 <div class="w3-container" align="center">
  <div class="w3-card-4" style="width:70%">
    <header class="w3-container w3-light-grey" >
     <h3 style="background: #07c5f8">Tranzistor bipolar</h3>
            </header>
            <div class="w3-container" style="background: white ; color:black" >

    <p style="color: black">Tranzistori bipolari sunt componente electronice alcătuite din trei semiconductori. </p>
   <li> <img src="/static/Img/Img_Teoria/pnp_tranzistor.png" align="left" hspace="9" class="imgresponsive">
       <img src="/static/Img/Img_Teoria/npn_tranzistor.png" align="center"  hspace="10" class="imgresponsive" >
       <u style="color: black; text-align: end;" hspace="20" >1.PNP care conţine două straturi semiconductoare de tip p, între care se
găseşte un strat semiconductor de tip n. </u><br>
       <u style="color: black;">2. NPN care conţine două straturi semiconductoare de tip n, între care se
găseşte un strat semiconductor de tip p.</u>
   </li>
     <p style="color: black" align="center">Semiconductori</p>
                <ul>
    <ol style="color:black">
        <li>E-emiter</li>
        <li>B-baza</li>
        <li>C-colector</li>
    </ol>
                    </ul>

    <p style="color: black">Există două tipuri de tranzistori în functie de :</p>
    <ol style="color: black">
        <ul>
        <li>putere</li>
        <p style="color: black">- de mică putere, încapsulate în plastic sau metal și nu necesita montarea pe un radiator<br>
         -de putere, încapsulate în plastic sau metal și necesita montarea pe un
radiator pentru a disipa căldura emisă.

 </p>
        <li> frecventa de lucru</li>
 <p style="color: black">-de joasă frecvență destinate utilizării la frecvente mari de lucru (de
exemplu in circuite audio)<br>
- de înaltă frecvență, destinate lucrului la frecvente  înalte  (Tv, microunde,
circuite de comutație)
         </p>
            </ul>
    </ol>
</div>
      </div>
     </div>
<br><br>
 <div class="w3-container" align="center">
  <div class="w3-card-4" style="width:70%">
    <header class="w3-container w3-light-grey" >
     <h3 style="background: #07c5f8">Principiul de funcționare</h3>
            </header>
            <div class="w3-container" style="background: white ; color:black" >
    <p style="color: black" align="left">a) Prin asimilare/echivalare cu un circuit cu două diode conectate una invers față de cealaltă.
        Având două PN, una între bază și emitor (BE) și una între bază și colector (BC), cele doua joncțiuni sunt considerate independente.
Ex.: tranzistor NPN: echivalat cu două diode care au anodul comun și conectat la electrodul B (baza tranzistorului).
        Oricum am alimenta circuitul, o diodă va fi în conducție iar cealaltă va fi blocată, iar prin circuitul în care sunt montate nu va circula curent.
        In cazul tranzistorului, deoarece stratul semiconductor dintre joncțiuni este foarte subțire, apare efectul de tranzistor, fapt care permite circulația curentului între C și E.
        Efectul de tranzistor permite trecerea curentului printr-o joncțiune polarizată invers (BC) datorită interacțiunii ei cu o joncțiune polarizată direct (BE) situată în imediata ei vecinătate.
        Avem astfel o circulație a curenților precum:
<br>
        <img src="/static/Img/Img_Teoria/tranzistor_npn_si_pnp.png" class="imgresponsive"><br>
        b) Modelul hidraulic al tranzistorului: un flux mic de apa poate controla un flux
mare, adică un curent mic poate controla un curent mare.

</div>
      </div>
     </div>
<br><br>
 <div class="w3-container" align="center">
  <div class="w3-card-4" style="width:70%">
    <header class="w3-container w3-light-grey" >
     <h3 style="background: #07c5f8">Parametrii principali al tranzistorului</h3>
            </header>
            <div class="w3-container" style="background: white ; color:black" >
    <p style="color: black">Cei mai importanți parametri ai unui tranzistor (bipolar) sunt:
                <ul>
        <ol style="color: black">
    <li> Factorul de amplificare (β) </li>
<li> Temperatura maximă a joncțiunilor </li>
<li> Puterea maximă disipata </li>
<li> Curentul de colector maxim </li>
<li> Tensiunea maximă admisă </li>
    </ol>
                </ul>

</div>
      </div>
     </div>
<br><br>
 <div class="w3-container" align="center">
  <div class="w3-card-4" style="width:70%">
    <header class="w3-container w3-light-grey" >
     <h3 style="background: #07c5f8">Modul de funcționare al tranzistorului</h3>
            </header>
            <div class="w3-container" style="background: white ; color:black" >
    <p style="color: black">Un tranzistor poate fi utilizat in 3 moduri:
                <ul>
        <ol style="color: black">
<li> amplificator de semnal;</li>
<li> Comutator </li>
<li> pentru a crea porții logice – extrem de importante in efectuarea
calculelor in calculatoarele electronice</li>

    </ol>
                </ul>
                </div>
</div>
</div>
</body>
</html>