<html lang="ro">

<head>
    <meta charset="utf-8">
    <title> VET</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->

        <link rel="icon" href="static/Img/Logo_VET.jpg">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">



    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



    <!-- Main Stylesheet File -->
    <link href="/static/css/style.css" rel="stylesheet">




<!--==========================
  Header
============================-->
    <div  class="myDiv" >
        <img src="/static/Img/Logo_VET.jpg" align="left" height="69" alt="logo">
        <h1><u style="color:white"   href="#intro" class="scrollto"> Virtual electronic tester</u></h1>
    </div>


</head>
<body>

<style>





</style>

<ul>
  <li><a href="/Teoria">Teoria</a></li>
  <li><a href="/Calculatoare">Calculatoare</a></li>
  <li><a href="/Home_Test_teorie">Test teorie</a></li>
  <li><a href="/Home_Test_practic">Test practic</a></li>
</ul>



<main id="main">
    <div class="row" style="display: flex; align-items: center;">
        <div class="col-lg-6 about-img wow fadeInLeft">

        </div>
    </div>
</main>
</body>
</html>

